<%= content_for :title do %>
  MFA Login
<% end %>

<h1>Multi-factor Authentication</h1>

<p>Please enter the code from your authenticator app:</p>

<%= form_tag([resource_name, :two_factor_authentication], method: :put, data: { turbo: false }) do %>
  <label>
    MFA Code
    <%= text_field_tag :code, '', autocomplete: :off, autofocus: true %>
  </label>
  <%= submit_tag 'Log in', class: 'button btn-primary' %>
<% end %>

<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
