<%#  
The majority of The Supplejack Manager code is Crown copyright (C) 2014, New Zealand Government,
and is licensed under the GNU General Public License, version 3. Some components are 
third party components that are licensed under the MIT license or otherwise publicly available. 
See https://github.com/DigitalNZ/supplejack_manager for details. 

Supplejack was created by DigitalNZ at the National Library of NZ and the Department of Internal Affairs. 
http://digitalnz.org/supplejack
%>

<%= simple_form_for(@source) do |f| %>
  
  <% if @source.errors.any? %>
    <%= f.error_notification %>
    <% @source.errors.messages[:name] = @source.errors.messages.delete(:source_id) %>
  <% end %>
 
  <div class="row form-inputs">
    <div class="column twelve">
      <%= f.input :name %>
      <%= f.association :partner, collection: Partner.all, include_blank: '<create new>' %>
      <%= f.simple_fields_for :partner do |partner_form| %>
      <fieldset id="new-partner-fields">
        <legend><%= t('partners.create') %></legend>
        <%= partner_form.input :name %>
      </fieldset>
      <% end %>
    </div>
  </div>

  <div class="form-actions right">
    <%= f.button :submit %>
  </div>
<% end %>
