<%= content_for :title do %>
  <%= t('sources.edit') %>
<% end %>

<h1><%= t('sources.edit') %></h1>

<%= render 'form' %>

<% if can? :manage, @source %>
  <h2><%= t('sources.manage') %></h2>
  <a href="#" data-open="reindex-modal" class="button float-right"><%= t('sources.reindex') %></a>
<% end %>

<div id="reindex-modal" class="reveal medium" data-reveal>
  <h1><%= t('sources.reindex') %></h1>
  <div class="grid-x">
    <div class="medium-12 cell">
      <label class=""><%= t('forms.labels.sources.environment') %></label>
      <%= select_tag 'environment', options_for_select(APPLICATION_ENVS) %>
    </div>
  </div>
  <div class="grid-x">
    <div class="medium-12 cell">
      <label class=""><%= t('sources.modified_records') %></label>
      <div id="date-slider"></div>
      <div id="time"><%= t('sources.all_records') %></div>
    </div>
  </div>
  <%= link_to t('sources.reindex'), '#', remote: true, class: 'float-right button', id: 'reindex-button', 'data-url': reindex_source_path(@source) %>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
