<%#  
The majority of the Supplejack code is Crown copyright (C) 2014, New Zealand Government,
and is licensed under the GNU General Public License, version 3. Some components are 
third party components licensed under the GPL or MIT licenses or otherwise publicly available. 
See https://github.com/DigitalNZ/supplejack_manager for details. 

Supplejack was created by DigitalNZ at the National Library of NZ and the Department of Internal Affairs. 
http://digitalnz.org/supplejack
%>

<div class="seven columns centered">
  <h2><%= t('sources.edit') %></h2>

  <h5 class="subheader">
    <strong><%= t('note') %></strong> <%= t('sources.helptext.source_id_warning') %>
  </h5>

  <%= render 'form' %>

  <h2><%= t('sources.manage') %></h2>
  <a href="#" data-reveal-id="reindex-modal" class="button right"><%= t('sources.reindex') %></a>
  
</div>
  
<div id="reindex-modal" class="reveal-modal medium">
  <h2><%= t('sources.reindex') %></h2>
  <div class="row">
    <div class="twelve columns">
      <label class=""><%= t('simple_form.labels.sources.environment') %></label>
      <%= select_tag "environment", options_for_select(APPLICATION_ENVS) %>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <label class=""><%= t('sources.modified_records') %></label>
      <div id="date-slider"></div>
      <div id="time"><%= t('sources.all_records') %></div>
    </div>
  </div>
  <%= link_to t('sources.reindex'), '#', remote: true, class: "right button", id: 'reindex-button', :'data-url' => reindex_source_path(@source) %>
  <a class="close-reveal-modal">&#215;</a>
</div>
