<div class="row twelve columns">
  <h2>Add Suppressed Collection</h2>
</div>
<div class="row five">
  <%= form_tag suppress_collections_path do %>
    <div class="five columns">
      <%= text_field_tag :id %>
    </div>
    <div class="seven columns">
      <%= submit_tag "Add new suppressed collection", class: "button" %>
    </div>
  <% end %>
</div>

<div class="row twelve columns">
  <h2>Suppressed Collections</h2>
</div>

<div class="row">
  <div class="four columns">
    <table id="suppress_collection">
      <thead>
        <tr>
          <th class="three">Collection Title</th>
          <th class="one">Activate Collection</th>
        </tr>
      </thead>

      <tbody>
        <% @blacklist.each do |collection| %>
        <tr>
          <td><%= collection %></td>
          <td><%= link_to "Activate", suppress_collection_path(collection), :method => :delete, class: "small button" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
