<div class="row eight columns centered">
  <h1><%= t('link_checker.suppress_collections.label') %> - <%= params[:environment].capitalize %></h1>

  <h5 class="subheader">
    <%= t('link_checker.suppress_collections.helptext') %> 
  </h5>

  <h4 class="left"><%= t('link_checker.suppress_collections.suppress_a') %></h4>
  
  <div class="row twelve left">
    <%= form_tag(environment_suppress_collection_path(id: "source_id", environment: params[:environment]), {method: :put, id: "suppress_collection_form"}) do |f| %>
      <div class="seven columns">
        <%= select_tag :id, grouped_options_for_select(Partner.for_select), include_blank: true %>
        <%= hidden_field_tag :status, "suppressed" %>
      </div>
      <div class="five columns">
        <%= submit_tag t('link_checker.suppress_collections.suppress'), class: "button" %>
      </div>
    <% end %>
  </div>

<div class="row twelve columns">
  <h4><%= t('link_checker.suppress_collections.current_supressions_title') %></h4>
</div>

<div class="row">
  <div class="twelve columns">
    <table id="suppress_collection">
      <thead>
        <tr>
          <th class="two"><%= t('link_checker.suppress_collections.collection_title') %></th>
          <th class="two"><%= t('link_checker.suppress_collections.activate_title') %></th>
        </tr>
      </thead>
      <tbody>
        <% @blacklisted_sources.each do |source| %>
        <tr>
          <td><%= source["name"] %></td>
          <td>
            <%= form_tag(environment_suppress_collection_path(id: source["_id"], environment: params[:environment]), {method: :put, id: "suppress_collection"}) do |f| %>
              <%= hidden_field_tag :status, "active" %>
              <%= submit_tag t('link_checker.suppress_collections.activate'), class: "small button" %>
            <% end %>
        </tr>
        <% end %>
      </tbody>

    </table>
  </div>
</div>

</div>
