<% title = "#{t('link_checker.suppress_collections.label')} - #{params[:environment].capitalize}" %>
<%= content_for :title do %>
  <%= title %>
<% end %>

<h1><%= title %></h1>

<h5 class="subheader">
  <%= t('link_checker.suppress_collections.helptext') %>
</h5>

<% if can? :update, :suppress_collection %>
  <h4><%= t('link_checker.suppress_collections.suppress_a') %></h4>

  <%= form_tag(environment_suppress_collection_path(id: 'source_id', environment: params[:environment]), { method: :put, id: 'suppress_collection_form' }) do |f| %>
    <%= select_tag :id, grouped_options_for_select(Partner.for_select), include_blank: true %>
    <%= hidden_field_tag :status, 'suppressed' %>
    <%= submit_tag t('link_checker.suppress_collections.suppress'), class: 'button' %>
  <% end %>

<% end %>

<h4><%= t('link_checker.suppress_collections.current_supressions_title') %></h4>

<table>
  <thead>
    <tr>
      <th><%= t('link_checker.suppress_collections.source_id') %></th>
      <th><%= t('link_checker.suppress_collections.status_updated_by') %></th>
      <th><%= t('link_checker.suppress_collections.status_updated_at') %></th>
      <% if can? :update, :suppress_collection %>
        <th><%= t('link_checker.suppress_collections.activate_title') %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @blacklisted_sources.each do |source| %>
    <tr>
      <td><%= source['source_id'] %></td>
      <td><%= source['status_updated_by'] %></td>
      <td><%= source['status_updated_at'].try(:to_datetime).try(:strftime, '%d/%m/%Y %I:%M%p') %></td>
      <% if can? :update, :suppress_collection %>
        <td>
          <%= form_tag(environment_suppress_collection_path(id: source['_id'], environment: params[:environment]), { method: :put, id: 'suppress_collection' }) do |f| %>
            <%= hidden_field_tag :status, 'active' %>
            <%= submit_tag t('link_checker.suppress_collections.activate'), class: 'small button' %>
          <% end %>
        </td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
<hr>
<br>
<h4><%= t('link_checker.suppress_collections.latest_activated_collections') %></h4>
<table>
  <tbody>
    <% @top_10_sources.each do |source| %>
    <tr>
      <td>
        <strong><%= source['source_id'] %></strong> was activated by <strong><%= source['status_updated_by'] %></strong> at <strong><%= source['status_updated_at'].try(:to_datetime).try(:strftime, '%d/%m/%Y %I:%M%p') %></strong></td>
    </tr>
    <% end %>
  </tbody>
</table>
