<%#  
The majority of The Supplejack Manager code is Crown copyright (C) 2014, New Zealand Government,
and is licensed under the GNU General Public License, version 3. Some components are 
third party components that are licensed under the MIT license or otherwise publicly available. 
See https://github.com/DigitalNZ/supplejack_manager for details. 

Supplejack was created by DigitalNZ at the National Library of NZ and the Department of Internal Affairs. 
http://digitalnz.org/supplejack
%>

<h2>Edit <%= resource_name.to_s.humanize %></h2>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-vertical' }) do |f| %>
  <%= f.error_notification %>
  <%= display_base_errors resource %>
  <%= f.input :name, :autofocus => true %>
  <%= f.input :email, :required => true %>
  <%= f.input :password, :autocomplete => "off", :hint => "leave it blank if you don't want to change it", :required => false %>
  <%= f.input :password_confirmation, :required => false %>
  <%= f.input :current_password, :hint => "we need your current password to confirm your changes", :required => true %>
  <%= f.button :submit, 'Update', :class => 'btn-primary' %>
<% end %>
<h3>Cancel my account</h3>
<p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete %>.</p>
<%= link_to "Back", :back %>