<div class="medium-8 cell centered">

  <div class="grid-x">
    <h1 class="float-left"><%= t('records.label') %> - <%= params[:environment].capitalize %></h1>
  </div>

  <div class="grid-x">
    <%= form_tag(environment_collection_records_path(environment: params[:environment]), { method: :get, id: 'collection_records_form' }) do |f| %>
      <div class="medium-4 cell">
          <%= text_field_tag 'id', @record_id, autocomplete: :off, placeholder: t('forms.placeholders.collection_record.id') %>
      </div>
      <div class="medium-4 cell">
        <%= submit_tag t('records.search'), class: 'button' %>
      </div>
    <% end %>
  </div>

  <div class="grid-x">
    <div class="medium-12 cell">
      <% if @record.present? %>
        <table id="collection-records">
          <thead>
            <tr>
              <th><%= t('records.record_id') %></th>
              <th><%= t('records.title') %></th>
              <th><%= t('records.status') %></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td><%= @record['record_id'] %></td>
              <td><%= @record['title'] %></td>
              <td>
                <%= form_tag(environment_collection_record_path(id: @record['record_id'], environment: params[:environment]), method: :put, class: 'collection_records') do |f| %>
                  <%= select_tag 'status', options_for_select(['active', 'deleted', 'suppressed'], @record['status']), onchange: 'this.form.submit();' %>
                <% end %>
              </td>
            </tr>
          </tbody>
        </table>

        <h2>Database (fragments) view</h2>
          <%= text_area_tag(
            '',
            JSON.pretty_generate(@record['fragments']),
            class: 'code-editor-multiple readonly'
          ) %>
      <% elsif @record.nil? && @record_id %>
        <h3><%= t('records.not_found') %></h3>
      <% end %>
    </div>
  </div>

</div>
