

<div class="grid-x grid-margin-x">
  <div class="medium-9 cell">
    <h1 id="snippet-title" class="float-left"><%= @snippet.name %></h1>
    <% if can? :update, @snippet %>
      <div id="hidden-snippet-form">
        <%= simple_form_for @snippet do |f| %>
          <div class="snippet-form">
            <%= f.input :name %>
            <%= f.button :submit, "Rename Snippet" %>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if @version %>
      <%= render "snippet_versions/form" %>
    <% else %>
      <%= render "form" %>
    <% end %>
  </div>

  <div class="medium-3 cell">
    <div class="grid-x">
      <h3 class="float-left"><%= t("history") %></h3>

      <% if can? :update, @snippet %>
        <%= link_to t("snippets.edit_current"), edit_snippet_path(@snippet), class: "edit-snippet float-left" %>
      <% end %>

      <%= render partial: "versions/version_list", locals: { versionable: @snippet, versionable_path: "snippet_snippet_version" } %>

      <% if can? :update, @snippet %>
        <a href="#" id="rename-snippet-action" class="button expand medium-12"><%= t('snippets.rename') %></a>
        <a href="#" class="button expand medium-12" data-open="delete-snippet-alert"><%= t('snippets.delete') %></a>
      <% end %>
    </div>
  </div>

<div id="delete-snippet-alert" class="reveal small" data-reveal>
  <h2>Delete Snippet</h2>
  <p> Are you sure that you want to delete the snippet: <strong><%= @snippet.name %></strong> </p>
  <div>
    <%= button_to "Delete", @snippet, method: :delete, class: "button alert float-right" %>
    <button id="cancel-snippet-delete" data-close class="button secondary float-right">Cancel</button>
  </div>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
