<%= content_for :title do %>
  <%= t('snippets.create_a') %>
<% end %>

<h1><%= t('snippets.create_a') %></h1>

<%= custom_form_with model: @snippet do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.text_area :content, class: 'code-editor' %>

  <%= f.submit class: 'button' %>
<% end %>
