<h2><%= t('snippets.create_a') %></h2>

<%= simple_form_for @snippet do |f| %>

  <%= f.input :name %>
  
  <%= f.input :content, as: :text, label: false, required: false, input_html: {class: "code-editor"} %>

  <%= f.button :submit, class: 'right' %>

<% end %>
