<h2><%= t('snippets.create_a') %></h2>

<%= form_with model: @snippet, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.text_area :content, class: 'code-editor' %>

  <%= f.submit class: 'button' %>
<% end %>
