<%= content_for :title do %>
  <%= t('partners.create_a') %>
<% end %>

<div class="seven columns centered">
  <h1><%= t('partners.create_a') %></h1>

  <h5 class="subheader">
    <%= t('partners.new.helptext') %>
  </h5>

  <%= render 'form' %>
</div>
