<%= turbo_frame_tag 'harvest_schedule_form' do %>
  <%= custom_form_with model: @harvest_schedule, data: { turbo_frame: :_top } do |f| %>

    <%= f.label :parser_id, 'Parser Script' %>
    <%= f.select :parser_id, @parsers.map { |parser| [parser.name, parser.id] }, { include_blank: true }, data: {
          controller: 'form_reloading'
        } %>

    <%= f.label :start_time, 'Begin' %>
    <%= f.text_field :start_time, class: 'datetimepicker', value: @harvest_schedule.start_time.present? ? @harvest_schedule.start_time.localtime.strftime('%d/%m/%Y %H:%m') : nil %>

    <div class="grid-x">
      <%= f.label :recurrent do %>
        <%= f.check_box :recurrent, data: { controller: 'form_reloading' } %> Recurrent
      <% end %>
    </div>

    <br>

    <ul class="tabs" data-tabs id="preview-tabs">
      <%= tag.li class: "tabs-title #{@harvest_schedule.simple? ? "is-active" : nil }" do %>
        <a data-tabs-target="simple-schedule-tab" href="#simple-schedule-tab">Simple Schedule</a>
      <% end %>

      <%= tag.li class: "tabs-title #{!@harvest_schedule.simple? ? "is-active" : nil }" do %>
        <a data-tabs-target='cron-syntax-tab' href="#cron-syntax-tab" aria-selected="true">Cron Syntax</a>
      <% end %>
    </ul>

    <div id="recurrent-options" class="<%= show(@harvest_schedule.recurrent) %>">

      <div class="tabs-content" data-tabs-content='preview-tabs'>

        <%= tag.div id: 'simple-schedule-tab', class: "tabs-panel #{@harvest_schedule.simple? ? "is-active" : nil }" do %>
          <%= f.label :frequency %>
          <%= f.collection_select :frequency, ['daily', 'weekly', 'fortnightly', 'monthly'].map { |o| [o, o.capitalize] }, :first, :second %>

          <div class="input string optional harvest_schedule_at_hour">
            <%= f.label :at_hour %>
            <div class="grid-x">
              <div class="medium-2 cell"><%= f.collection_select :at_hour, (0..23).map { |n| n.to_s.rjust(2, '0') }, :to_s, :to_s %></div>
              <div class="medium-2 cell"><%= f.collection_select :at_minutes, (0..55).step(5).map { |n| n.to_s.rjust(2, '0') }, :to_s, :to_s %></div>
              <div class="medium-10 cell"></div>
            </div>
          </div>

          <%= f.label :offset %>
          <%= f.number_field :offset, hint: t('harvest_schedules.offset_hint') %>
        <% end %>

        <%= tag.div id: 'cron-syntax-tab', class: "tabs-panel #{!@harvest_schedule.simple? ? "is-active" : nil}" do %>
          <%= f.label :cron %>
          <%= f.text_field :cron %>
        <% end %>

      </div>
    </div>

    <%= f.hidden_field :environment %>

    <%= render 'mode', { harvest_schedule: @harvest_schedule } %>

    <%= render 'enrichments', { harvest_schedule: @harvest_schedule, environment: params[:environment] } %>

    <br>

    <%= f.submit t('harvest_schedules.save'), class: 'button float-right' %>
  <% end %>
<% end %>
