<%= simple_form_for @harvest_schedule, html: {class: "harvest_schedule"} do |f| %>

  <%= f.input :parser_id, collection: Parser.asc(:name) %>

  <%= f.input :start_time, input_html: {class: "datetimepicker", value: @harvest_schedule.start_time.present? ? l(@harvest_schedule.start_time) : nil } %>

  <div class="row">
    <div class="two columns">
      <%= f.label :recurrent %>
    </div>
    <div class="ten columns">
      <%= f.input :recurrent, as: :boolean, label: false %>
    </div>
  </div>

  <br/>

  <%= content_tag(:div, id: "recurrent-options", style: @harvest_schedule.recurrent ? "" : "display: none") do %>
    <dl class="tabs contained">
      <%= content_tag(:dd, link_to("Simple Schedule", "#simpleSchedule"), class: @harvest_schedule.simple? ? "active" : nil) %>
      <%= content_tag(:dd, link_to("Cron Syntax", "#cronSyntax"), class: !@harvest_schedule.simple? ? "active" : nil) %>
    </dl>

    <ul class="tabs-content contained">

      <%= content_tag :li, id: "simpleScheduleTab", class: @harvest_schedule.simple? ? "active" : nil do %>
        <%= f.input :frequency, collection: ["daily", "weekly", "fortnightly", "monthly"].map{|o| [o.capitalize, o] } %>

        <div class="input string optional harvest_schedule_at_hour">
          <%= f.label :at_hour %>
          <div class="row">
            <div class="two columns"><%= f.input_field :at_hour, collection: (0..23).map { |n| n.to_s.rjust(2, "0") }, include_blank: false %></div>
            <div class="two columns"><%= f.input_field :at_minutes, collection: (0..55).step(5).map { |n| n.to_s.rjust(2, "0") }, include_blank: false %></div>
            <div class="ten columns"></div>
          </div>
        </div>

        <%= f.input :offset, hint: t("harvest_schedules.offset_hint") %>
      <% end %>

      <%= content_tag :li, id: "cronSyntaxTab", class: !@harvest_schedule.simple? ? "active" : nil do %>
        <%= f.input :cron %>
      <% end %>
    </ul>
  <% end %>

  <%= f.input :environment, as: :hidden %>

  <%= render "mode", { harvest_schedule: @harvest_schedule }  %>  

  <%= render "enrichments", { harvest_schedule: @harvest_schedule, environment: params[:environment]  }  %>

  <br/>

  <%= f.button :submit, t('harvest_schedules.save'), class: "button right" %>
<% end %>