<div id="mode">
  <% if harvest_schedule.parser.present? %>
    <%= f.label :mode, class: :large %>

    <%= f.collection_radio_buttons :mode, harvest_schedule.parser.modes, :first, :second, checked: harvest_schedule.mode do |b| %>
      <%= b.label { b.radio_button + b.text } %>
    <% end %>

    <% unless harvest_schedule.parser.modes.flatten.include?('full_and_flush') %>
      <% checked = harvest_schedule.mode %>
      <% checked = false unless harvest_schedule.persisted? %>
      <input class="optional" id="harvest_schedule_mode_full_and_flush" type="radio" disabled="true" <%= "checked" if harvest_schedule.mode == 'full_and_flush' %> data="<%= harvest_schedule.mode %>" name ="harvest_schedule[mode]" title="Full And Flush is currently disabled.">
        <span class="<%= "parser-harvest-mode #{'disabled-f-and-f' unless harvest_schedule.parser.allow_full_and_flush }" %>">
          Full And Flush  <%= "(#{t('parsers.disable_full_and_flush')})" unless harvest_schedule.parser.allow_full_and_flush %>
        </span>
    <% end %>

    <% if harvest_schedule.oai? %>
      <div class="grid-x">
        <div class="medium-12 cell"><span class="hint"><%= t("harvest_schedules.incremental_hint") %></span></div>
      </div>
    <% end %>
  <% end %>
</div>
