<%= custom_form_with model: @user, local: true do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <% if can? :edit_users, @user %>
    <fieldset>
      <legend><%= t('users.administration') %></legend>
      <%= f.label :active do %>
        <%= f.check_box :active %> Active
      <% end %>
      <%= f.select :role, User::ROLES.map { |role| [role.humanize, role] }, class: 'two' %>
    </fieldset>

    <fieldset id="management_permissions">
      <legend><%= t('users.management_permissions') %></legend>
      <p><%= t('users.name_can') %></p>

      <%= f.label  :manage_data_sources do %>
        <%= f.check_box :manage_data_sources %> Manage data sources
      <% end %>

      <%= f.label  :manage_parsers do %>
        <%= f.check_box :manage_parsers %> Manage parsers
      <% end %>

      <%= f.label  :manage_harvest_schedules do %>
        <%= f.check_box :manage_harvest_schedules %> Manage harvest_schedules
      <% end %>

      <%= f.label  :manage_link_check_rules do %>
        <%= f.check_box :manage_link_check_rules %> Manage link check rules
      <% end %>

      <%= f.label :manage_partners, 'For the following contributors (select multiple by holding Ctrl/Apple key):' %>
      <%= f.select :manage_partners, Partner.all.sort(name: 1).map { |partner| [partner.name, partner.id] }, {}, multiple: true %>
    </fieldset>

    <fieldset id="harvesting_permissions">
      <legend><%= t('users.harvesting_permissions') %></legend>
      <%= f.label :run_harvest_partners, 'The user can run harvests for the following contributors (select multiple by holding Ctrl/Apple key):' %>
      <%= f.select :run_harvest_partners, Partner.all.sort(name: 1).map { |partner| [partner.name, partner.id] }, {}, multiple: true %>
    </fieldset>
  <% end %>

  <%= f.submit class: 'button' %> or <%= link_to t('cancel'), safe_users_path %>
<% end %>

<% if @user.need_two_factor_authentication? && @user.persisted? %>
  <h2>Two Factor Authentication</h2>

  <p>Please scan the below QR code into an OTP-compatible authentication application</p>

  <%= qr_code_as_svg(@user.two_factor_qr_code_uri) %>

  <p>Please confirm that your authentication application is working by entering a generated code below.</p>

  <%= form_for(:user, url: mfa_user_path) do |f| %>
    <%= f.label :otp, 'One Time Password' %>
    <%= f.text_field :otp, value: '', required: true %>

    <%= f.submit "Confirm & Enable", class: "button" %>
  <% end %>
<% end %>
