<%#  
The majority of The Supplejack Manager code is Crown copyright (C) 2014, New Zealand Government,
and is licensed under the GNU General Public License, version 3. Some components are 
third party components that are licensed under the MIT license or otherwise publicly available. 
See https://github.com/DigitalNZ/supplejack_manager for details. 

Supplejack was created by DigitalNZ at the National Library of NZ and the Department of Internal Affairs. 
http://digitalnz.org/supplejack
%>

<div class="eight columns centered">
  <h1 class="left">Users</h1>
  <% if can? :create, User %>
    <%= link_to "New user", new_user_path, class: "button new-right" %>
  <% end %>

  <% if can? :edit_users, User %>
  <div class="row">
    <div class="twelve columns">
      <dl class="tabs pill">
        <%= content_tag(:dd, link_to('Active Users', users_path), class: ("active" if params[:active].blank?)) %>
        <%= content_tag(:dd, link_to('Deactivated Users', users_path(active: false)), class: ("active" if params[:active] == 'false')) %>
      </dl>
    </div>
  </div>
  <% end %>

  <table id="users" class="twelve">
    <thead>
      <tr>
        <th>Name</th>
        <th>Role</th>
        <th>Email</th>
      </tr>
    </thead>

    <tbody>
      <% @users.each do |user| %>
        <% if can? :update, user %>
          <tr>
            <td><%= link_to user.name, edit_user_path(user.id) %></td>
            <td><%= user.role.titleize %></td>
            <td><%= user.email %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>