<h3><%= "Run #{@enrichment_job.environment.capitalize} Enrichment" %></h3>

<%= form_for @enrichment_job, url: environment_enrichment_jobs_path(@enrichment_job.environment) do |f| %>
  <%= f.hidden_field :parser_id %>
  <%= f.hidden_field :version_id %>
  <%= f.hidden_field :user_id %>
  <%= f.hidden_field :environment %>

  <%= f.label :record_id %>
  <%= f.text_field :record_id, placeholder: 'Enter a record_id, or leave blank to run full enrichment' %>

  <% if @parser.enrichment_definitions(@enrichment_job.environment).any? %>
    <label class="large"><%= t("parsers.enrichments_to_run") %></label>
    <%=
      f.collection_radio_buttons(
        :enrichment,
        @parser.enrichment_definitions(@enrichment_job.environment).keys.map do |k|
          [k.to_s.titleize, k]
        end,
        :second,
        :first
      ) do |b|
        b.label { b.radio_button + b.text}
      end
    %>
  <% end %>

  <br/>

  <%= f.submit "Start Enrichment", class: "button columns" %>
<% end %>
