<%#  
The majority of the Supplejack code is Crown copyright (C) 2014, New Zealand Government,
and is licensed under the GNU General Public License, version 3. Some components are 
third party components licensed under the GPL or MIT licenses or otherwise publicly available. 
See https://github.com/DigitalNZ/supplejack_manager for details. 

Supplejack was created by DigitalNZ at the National Library of NZ and the Department of Internal Affairs. 
http://digitalnz.org/supplejack
%>

<h3>Run Enrichment</h3>

<%= simple_form_for @enrichment_job, url: environment_enrichment_jobs_path(@enrichment_job.environment), remote: true do |f| %>
  <%= f.input :parser_id, as: :hidden %>
  <%= f.input :version_id, as: :hidden %>
  <%= f.input :user_id, as: :hidden %>
  <%= f.input :environment, as: :hidden %>


  <%= f.input :record_id, placeholder: "Enter a record_id, or leave blank to run full enrichment" %>

  <% if @parser.enrichment_definitions(@enrichment_job.environment).any? %>
    <%= f.input :enrichment, collection: @parser.enrichment_definitions(@enrichment_job.environment).keys.map {|k| [k.to_s.titleize, k]}, as: :radio_buttons, label: t("parsers.enrichments_to_run"), label_html: {class: "large"} %>
  <% end %>

  <br/>

  <%= f.button :submit, "Start Enrichment", class: "button columns twelve" %>
<% end %>
