<div class="twelve columns centered">

  <div class="row">
    <div class="nine columns">
      <h1><%= t('dashboard.title') %></h1>
      <h4 class="subheader"><%= t('dashboard.intro') %></h4>
    </div>
    <div class="three columns">
      <%= link_to t('partners.create'), new_partner_path, class: "button new-right twelve" %>
      <%= link_to t('sources.create'), new_partner_path, class: "button new-right twelve" %>
      <%= link_to t('parsers.create'), new_partner_path, class: "button new-right twelve" %>
    </div>
  </div>

  <hr />

  <%= render 'stats', {stats: @stats, environment: @environment } %>

  <hr />

  <% if @parsers.present? %>
    <div class="row">
      <div class="twelve columns">
        <h3 class="eight columns"><%= t('dashboard.parsers.label') %></h3>
        <h5 class="four columns"><%= link_to t('dashboard.parsers.view_all'), parsers_path, class: 'right' %></h5>
      </div>

      <div class="twelve columns">
        <table class="twelve">
          <thead>
            <tr>
              <th><%= t('dashboard.parsers.name') %></th>
              <th><%= t('dashboard.parsers.data_format') %></th>
              <th><%= t('dashboard.parsers.contributor') %></th>
              <th><%= t('dashboard.parsers.last_edited') %></th>
              <th><%= t('dashboard.parsers.last_editor') %></th>
            </tr>
          </thead>
          <tbody>
            <% @parsers.each do |parser| %>
              <tr>
                <td><%= link_to parser.name, edit_parser_path(parser) %></td>
                <td><%= parser.strategy %></td>
                <td><%= link_to parser.source.partner.name, edit_partner_path(parser.source.partner) %></td>
                <td><%= distance_of_time_in_words(Time.now, parser.versions.last.try(:created_at).try(:localtime)) %> ago</td>
                <td><%= parser.last_edited_by %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>

  <% if @scheduled_jobs.present? %>
    <div class="row">
      <div class="twelve columns">
        <h3 class="eight columns"><%= t('dashboard.scheduled_jobs.label') %></h3>
        <h5 class="four columns"><%= link_to t('dashboard.scheduled_jobs.view_production_schedule'), environment_harvest_schedules_path('production'), class: 'right' %></h5>
      </div>

      <div class="twelve columns">
        <table class="twelve">
          <thead>
            <tr>
              <th><%= t("harvest_schedules.parser") %></th>
              <th><%= t("harvest_schedules.next_run_at") %></th>
              <th><%= t("harvest_schedules.frequency") %></th>
              <th><%= t("harvest_schedules.mode") %></th>
            </tr>
          </thead>
          <tbody>
            <% @scheduled_jobs.each do |harvest_schedule| %>
              <tr>
                <td><%= link_to harvest_schedule.parser.try(:name), edit_parser_path(harvest_schedule.parser) %></td>
                <td><%= l harvest_schedule.next_run_at, format: :long %></td>

                <% if harvest_schedule.frequency.present? %>
                  <td><%= link_to harvest_schedule_frequency(harvest_schedule), harvest_schedule_path(harvest_schedule) %></td>
                <% else %>
                  <td><%= link_to harvest_schedule.cron, harvest_schedule_path(harvest_schedule) %></td>
                <% end %>

                <td><%= harvest_schedule.mode.try(:titleize) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>

</div>