<% if @previewer.record? %>

  <% if @previewer.errors? %>
    <h3>Errors</h3>
    <%= @previewer.errors_output %>
  <% end %>

  <div id="record-attributes">
    <h3 class="left">Record attributes</h3>

    <div class="preview-navigation">
      <%= link_to_previous @parser.id, params[:index], class: "records-preview-button arrow arrow-left" %>
      <%= link_to_next @parser.id, params[:index], class: "records-preview-button arrow arrow-right" %>
    </div>

    <%= link_to "Raw data", "#", id: "record-raw-data-button", class: "button new-right" %>

    <%= @previewer.attributes_output %>
  </div>

  <div id="record-raw-data">
    <h3 class="left">Raw Data</h3>

    <div class="preview-navigation">
      <%= link_to_previous @parser.id, params[:index], class: "records-preview-button arrow arrow-left" %>
      <%= link_to_next @parser.id, params[:index], class: "records-preview-button arrow arrow-right" %>
    </div>

    <%= link_to "Record attributes", "#", id: "record-attributes-button", class: "button new-right" %>

    <%= @previewer.raw_output %>
  </div>

<% elsif @previewer.syntax_error %>

  <h3>Syntax error in the parser configuration</h3>
  <%= @previewer.syntax_error %>

<% elsif @previewer.fetch_error %>
  
  <h3>Error while fetching the records</h3>
  <%= @previewer.fetch_error %>

<% else %>
  <h3><%= @parser.name %> <span>didn't return any records.</span></h3>
<% end %>