<% if @previewer.record? %>
  <div class="row">
    <div class="ten columns">
      <h2>Previewing records</h2>

      <% if @previewer.harvest_job %>
        <h4>Invalid/failed records from last <%= @previewer.harvest_job.environment %> harvest</h4>
        <div>Started: <strong><%= l @previewer.harvest_job.start_time, format: :long %></strong></div>
        <div>Records: <strong><%= @previewer.harvest_job.total_errors_count %></strong></div>
        <div>Environment: <strong><%= @previewer.harvest_job.environment %></strong> </div>
      <% end %>

    </div>

    <div class="two columns align-right">
      <%= link_to_previous @parser.id, params[:index], params[:environment], params[:review], class: "records-preview-button arrow arrow-left" %>
      <%= link_to_next @parser.id, params[:index], params[:environment], params[:review], class: "records-preview-button arrow arrow-right" %>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <% if @previewer.document? %>
        <% if @previewer.field_errors? %>
          <h4>Field Errors</h4>
          <%= @previewer.field_errors_output %>
        <% end %>

        <% if @previewer.validation_errors? %>
          <h4>Validation Errors</h4>
          
          <ul class="indented">
            <% @previewer.record.errors.each do |attribute, message| %>
              <li><strong><%= attribute %>: </strong> <%= message %></li>
            <% end %>
          </ul>
        <% end %>

        <div id="record-attributes">
          <div class="row">
            <div class="nine columns"><h4>Record attributes</h4></div>
            <div class="three columns align-right"><%= link_to "Raw data", "#", id: "record-raw-data-button", class: "button" %></div>
          </div>
          
          <%= @previewer.attributes_output %>
        </div>

        <div id="record-raw-data">
          <div class="row">
            <div class="nine columns"><h4>Raw Data</h4></div>
            <div class="three columns align-right"><%= link_to "Record attributes", "#", id: "record-attributes-button", class: "button" %></div>
          </div>

          <%= @previewer.raw_output %>
        </div>
      <% else %>
        <h4>Error while building the record</h4>

        <h6><%= @previewer.document_error  %></h6>

        <ul class="indented">
          <% @previewer.document_backtrace.each do |backtrace| %>
            <li><%= backtrace %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
<% elsif @previewer.load_error %>

  <h4>There was a error while loading the Parser.</h4>
  <%= @previewer.load_error %>

<% elsif @previewer.fetch_error %>
  
  <h4>Error while fetching the records</h4>
  <h6><%= @previewer.fetch_error %></h6>

  <ul class="indented">
    <% @previewer.fetch_error_backtrace.each do |backtrace| %>
      <li><%= backtrace %></li>
    <% end %>
  </ul>

<% else %>
  <h4><%= @parser.name %> <span>didn't return any records.</span></h4>
<% end %>