
  <% if @previewer.raw_data? %>
  <div class="row">
    <div class="ten columns">
      <h2>Previewing records</h2>
    </div>

    <div class="two columns align-right">
      <%= link_to_previous @parser.id, params[:index], params[:environment], params[:review], class: "records-preview-button arrow arrow-left" %>
      <%= link_to_next @parser.id, params[:index], params[:environment], params[:review], class: "records-preview-button arrow arrow-right" %>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <% if @previewer.raw_data? %>

        <% if @previewer.field_errors? %>
          <h4>Field Errors</h4>
          <%= @previewer.field_errors_output %>
        <% end %>

        <% if @previewer.validation_errors? %>
          <h4>Validation Errors</h4>
          
          <ul class="indented">
            <% @previewer.validation_errors.each do |error| %>
              <% error.each do |attribute, message| %>
                <li><strong><%= attribute %>: </strong> <%= message %></li>
              <% end %>
            <% end %>
          </ul>
        <% end %>

        <dl class="tabs">
          <% if @previewer.raw_data? %><dd><a href="#sourceData" >Source Data</a></dd><% end %>
          <% if @previewer.harvested_attributes? %><dd class="active"><a href="#harvestedAttributes">Harvested Attributes</a></dd><% end %>
          <% if @previewer.record? %><dd><a href="#apiRecord">API Record</a></dd><% end %>
        </dl>
        <ul class="tabs-content">

          <% if @previewer.raw_data? %>
          <li id="sourceDataTab">
            <div id="record-raw-data" >
              <%= @previewer.raw_output %>
            </div>
          </li>
          <% end %>

          <% if @previewer.harvested_attributes? %>
          <li class="active" id="harvestedAttributesTab"> 
            <div id="harvest-attributes" >
              <%= @previewer.harvested_attributes_output %>
            </div>
          </li>
          <% end %>

          <% if @previewer.record? %>
          <li id="apiRecordTab"> 
            <div id="record-attributes" >
              <%= @previewer.api_record_output %>
            </div>
          </li>
          <% end %>

        </ul>
      <% else %>
        <h4>Error while building the record</h4>

        <h6><%= @previewer.document_error  %></h6>

        <ul class="indented">
          <% @previewer.document_backtrace.each do |backtrace| %>
            <li><%= backtrace %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>

<% elsif @previewer.harvest_failure? %>

  <h4>There was an error with the harvest.</h4>
  
  <h6><%= @previewer.harvest_failure['exception_class'] %></h6>
  <p><%= @previewer.harvest_failure['message'] %></p>

  <ul class="indented">
    <% @previewer.harvest_failure['backtrace'].each do |backtrace| %>
      <li><%= backtrace %></li>
    <% end %>
  </ul>

<% else %>
  <h4><%= @parser.name %> <span>didn't return any records.</span></h4>
<% end %>