

<span id="preview-job" url="/previews/<%=@previewer.preview_id%>"></span>

<div class="grid-x">
  <div class="medium-12 cell">
    <h2>Previewing <%= @parser.data_type.pluralize rescue 'records' %></h2>
  </div>

  <% if @parser_error %>
    <%= render "parsers/error", error: @parser_error %>
  <% end %>
</div>

<div class="grid-x" id="preview-<%=@previewer.preview_id%>">
  <div class="medium-12 cell">
      <p><strong>Status: </strong><span id="status">Initialising preview record...</span></p>

      <div id="record-to-delete" class="hidden">
        <p></strong>This record is marked for deletion.</em></p>
      </div>

      <div id="field-errors" class="hidden">
        <h4>Field Errors</h4>
        <p></p>
      </div>

      <div id="harvest-errors" class="hidden">
        <h4>Harvest Errors</h4>
        <p></p>
      </div>

      <div id="validation-errors" class="hidden">
        <h4>Validation Errors</h4>
        <ul class="indented"></ul>
      </div>

      <ul class='tabs' data-tabs id='example-tabs'>
        <li class='tabs-title'>
          <a data-tabs-target='source-data'>Source Data<span class="small-spinner"></span></a>
        </li>
        <li class='tabs-title is-active' aria-selected='true'>
          <a data-tabs-target='harvested-attributes'>Harvested Attributes<span class="small-spinner"></span></a>
        </li>
        <li class='tabs-title'>
          <a data-tabs-target="api-record">API <%= @parser.data_type.capitalize rescue 'Record' %><span class="small-spinner"></span></a>
        </li>
        <div class="align-right next-previous">
          <%= link_to_previous @parser.id, params[:index], params[:environment], params[:review], class: "records-preview-button" %> - Preview Record -
          <%= link_to_next @parser.id, params[:index], params[:environment], params[:review], class: "records-preview-button" %>
        </div>
      </ul>

      <div class="tabs-content" data-tabs-content='example-tabs'>
        <div class='tabs-panel' id="source-data">
          <div id="record-raw-data"></div>
        </div>

        <div class="tabs-panel is-active" id="harvested-attributes">
          <div id="harvest-attributes"></div>
        </div>

        <div class='tabs-panel' id="api-record">
          <div id="record-attributes"></div>
        </div>
      </div>

      <div id="harvest-failure">
        <h6></h6>
        <p></p>
        <ul class="indented"></ul>
      </div>
  </div>
</div>

<h4 class="not-found hidden"><%= @previewer.parser.name %> <span>didn't return any records.</span></h4>
