<div class="row">
  <div class="nine columns">
    <h1 id="parser-title" class="left"><%= link_to @parser.name, edit_parser_path(@parser) %></h1>
    <div id="hidden-parser-form">
      <%= simple_form_for @parser do |f| %>
        <div class='parser-form'>
          <%= f.input :name %>
          <%= f.button :submit, "Rename Parser" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="three columns last">
    <ul class="button-group harvest-commands">
      <% if @version %>
        <li>
          <div href="#" class="button run-enrichment dropdown">
            Run Enrichment
            <ul>
              <% if @version.try(:staging?) %>
                <li><%= link_to "Staging Enrichment", new_enrichment_parser_parser_version_path(@harvest_job.parser_id, @harvest_job.version_id), class: "records-enrichment-modal-button", data: {environment: "staging"} %></li>
              <% end %>

              <% if @version.try(:production?) %>
                <li><%= link_to "Production Enrichment", new_enrichment_parser_parser_version_path(@harvest_job.parser_id, @harvest_job.version_id), class: "records-enrichment-modal-button", data: {environment: "production"} %></li>
              <% end %>
            </ul>
          </div>
        </li>
        <li>
          <div href="#" class="button run-harvest dropdown">
            Run Harvest
            <ul>
              <% if @version.try(:staging?) %>
                <li><%= link_to "Staging Harvest", new_harvest_parser_parser_version_path(@harvest_job.parser_id, @harvest_job.version_id), class: "records-harvest-modal-button", data: {environment: "staging"} %></li>
              <% end %>

              <% if @version.try(:production?) %>
                <li><%= link_to "Production Harvest", new_harvest_parser_parser_version_path(@harvest_job.parser_id, @harvest_job.version_id), class: "records-harvest-modal-button", data: {environment: "production"} %></li>
              <% end %>

              <li><%= link_to "Test Harvest", new_harvest_parser_parser_version_path(@harvest_job.parser_id, @harvest_job.version_id), class: "records-harvest-modal-button", data: {environment: "test"} %></li>
            </ul>
          </div>
        </li>
      <% end %>
      <li><%= link_to "Preview", preview_path(@parser.id), class: "button records-preview-button" %></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="nine columns">
    <% if @version %>
      <%= render "parser_versions/form" %>
    <% else %>
      <%= render "form" %>
    <% end %>
  </div>

  <div class="three columns">
    <h3 class="no-margin-top left"><%= t("history") %></h3>
    <%= link_to t("parsers.edit_current"), edit_parser_path(@parser), class: "edit-parser" %>
    <%= render partial: "versions/version_list", locals: { versionable: @parser, versionable_path: "parser_parser_version" } %>
      <a href="#" id="rename-parser-action" class="button expand">Rename Parser</a>
      <a href="#" id="change-source-action" data-reveal-id="change-source-alert" class="button expand"><%= t("parsers.change_source") %></a>
      <% if @parser.running_jobs? %>
        <a href="#" class="button expand tip-top has-tip" disabled data-tooltip title="You currently have a job running for this parser. You will need to stop it before being able to delete it."><%= t("parsers.rename") %></a>
      <% else %>
        <a href="#" class="button expand" data-reveal-id="delete-parser-alert" ><%= t("parsers.delete") %></a>
      <% end %>
  </div>
</div>

<div id="preview-modal" class="reveal-modal xxlarge">
  <div id="preview-area" class="CodeRay">
  </div>

  <div id="preview-area-spinner" class="spinner">
    <%= image_tag("spinner.gif") %>
  </div>

  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="delete-parser-alert" class="reveal-modal small">
  <h2>Delete Parser</h2>
  <p> Are you sure that you want to delete the parser: <strong><%= @parser.name %></strong> </p>
  <% if @parser.scheduled? %>
    <p> <strong>Warning:</strong> You currently have scheduled jobs set for this parser. By deleting this parser the scheduled jobs will be deleted as well. </p>
  <% end %>
  <div>
    <%= button_to "Delete", @parser, method: :delete, class: "button alert right" %>
    <button id="cancel-parser-delete" class="button secondary right">Cancel</button>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="harvest-modal" class="reveal-modal large">
  <div id="harvest-form">
  </div>

  <div id="harvest-result"></div>

  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="enrichment-modal" class="reveal-modal large">
  <div id="enrichment-form">
  </div>

  <div id="enrichment-result"></div>

  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="change-source-alert" class="reveal-modal medium">
  <h2>Change source</h2>
  <p> Warning: changing the source of this parser does not affect records that have already been harvested.</p>
  <%= simple_form_for @parser do |f| %>
    <%= f.input :partner, collection: Partner.all.sort(name: 1), label_method: :name, value_method: :name %>
    <%= f.association :source, as: :grouped_select, collection: Partner.all, group_method: :sources, include_blank: false, label_method: :name, group_label_method: :name %>
    <%= f.button :submit, "Change source", class: 'right' %>
  <% end %>
  <a class="close-reveal-modal">&#215;</a>
</div>
