<div class="row">
  <div class="six columns">
    <h1 id="parser-title" class="left"><%= link_to @parser.name, edit_parser_path(@parser) %></h1>
    <div id="hidden-parser-form">
      <%= simple_form_for @parser do |f| %>
        <div class='parser-form'>
          <%= f.input :name %>
          <%= f.button :submit, "Rename Parser" %>
        </div>
      <% end %>
    </div>
  </div>
  
  <div class="six columns last">
    <ul class="button-group harvest-commands">
      <li>
        <div href="#" class="button run-enrichment dropdown">
          Run Enrichment
          <ul>
            <% if @version.try(:staging?) %>
              <li><%= link_to "Staging Enrichment", "", class: "records-enrichment-modal-button", data: {environment: "staging"} %></li>
            <% end %>

            <% if @version.try(:production?) %>
              <li><%= link_to "Production Enrichment", "", class: "records-enrichment-modal-button", data: {environment: "production"} %></li>
            <% end %>
          </ul>
        </div>
      </li>
      <li>
        <div href="#" class="button run-harvest dropdown">
          Run Harvest
          <ul>
            <% if @version.try(:staging?) %>
              <li><%= link_to "Staging Harvest", "", class: "records-harvest-modal-button", data: {environment: "staging"} %></li>
            <% end %>

            <% if @version.try(:production?) %>
              <li><%= link_to "Production Harvest", "", class: "records-harvest-modal-button", data: {environment: "production"} %></li>
            <% end %>

            <li><%= link_to "Test Harvest", "", class: "records-harvest-modal-button", data: {environment: "test"} %></li>
          </ul>
        </div>
      </li>
      <li><%= link_to "Preview", preview_path(@parser.id), class: "button records-preview-button" %></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="nine columns">
    <% if @version %>
      <%= render "parser_versions/form" %>
    <% else %>
      <%= render "form" %>
    <% end %>
  </div>

  <div class="three columns">
    <h3 class="no-margin-top left"><%= t("parsers.history") %></h3>
    <%= link_to t("parsers.edit_current"), edit_parser_path(@parser), class: "edit-parser" %>
    <ul class="button-group tagging">
      <% if @version %>
        <% if @version.production? %>
          <li>
            <%= link_to "Untag as Production", parser_parser_version_path(@parser, @version, version: {tags: (Array(@version.tags) - ["production"]).uniq}), method: :put, class: "button expand small production" %>
          </li>
        <% else %>
          <li>
            <%= link_to "Tag as Production", parser_parser_version_path(@parser, @version, version: {tags: (Array(@version.tags) + ["production"]).uniq}), method: :put, class: "button expand small production" %>
          </li>
        <% end %>

        <% if @version.staging? %>
          <li>
            <%= link_to "Untag as Staging", parser_parser_version_path(@parser, @version, version: {tags: (Array(@version.tags) - ["staging"]).uniq}), method: :put, class: "button expand small" %>
          </li>
        <% else %>
          <li>
            <%= link_to "Tag as Staging", parser_parser_version_path(@parser, @version, version: {tags: (Array(@version.tags) + ["staging"]).uniq}), method: :put, class: "button expand small" %>
          </li>
        <% end %>
      <% end %>
    </ul>
    <div id="parser-versions">
      <% @parser.versions.desc(:created_at).each_with_index do |version, index| %>
        <div class="version <%= 'active' if @version.try(:id) == version.id %> <%= 'hidden' if index > 15 %>">
          <%= link_to version.message || "No message", parser_parser_version_path(@parser, version) %>
          <p><%= l(version.created_at, format: :short) %> by <%= version.user.try(:first_name) %></p>

          <%= environment_tags(version, @parser) %>
        </div>
      <% end %>
      <% if @parser.versions.count > 15 %>
        <button class="button show_more secondary expand small"> Click to show all versions...</button>
      <% end %>
    </div>
      <a href="#" id="rename-parser-action" class="button expand">Rename Parser</a>
      <a href="#" id="change-source-action" data-reveal-id="change-source-alert" class="button expand">Change Source</a>      
      <% if @parser.running_jobs? %>
        <a href="#" class="button expand tip-top has-tip" disabled data-tooltip title="You currently have a job running for this parser. You will need to stop it before being able to delete it.">Delete Parser </a>
      <% else %>
        <a href="#" class="button expand" data-reveal-id="delete-parser-alert" >Delete Parser</a>
      <% end %>
  </div>
</div>

<div id="preview-modal" class="reveal-modal xxlarge">
  <div id="preview-area" class="CodeRay">
  </div>

  <div id="preview-area-spinner" class="spinner">
    <%= image_tag("spinner.gif") %>
  </div>

  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="delete-parser-alert" class="reveal-modal small">
  <h2>Delete Parser</h2>
  <p> Are you sure that you want to delete the parser: <strong><%= @parser.name %></strong> </p>
  <% if @parser.scheduled? %>
    <p> <strong>Warning:</strong> You currently have scheduled jobs set for this parser. By deleting this parser the scheduled jobs will be deleted as well. </p>
  <% end %> 
  <div>
    <%= button_to "Delete", @parser, method: :delete, class: "button alert right" %>
    <button id="cancel-parser-delete" class="button secondary right">Cancel</button>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="harvest-modal" class="reveal-modal large">
  <div id="harvest-form">
    <%= render "harvest_jobs/form" %>
  </div>

  <div id="harvest-result"></div>
  
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="enrichment-modal" class="reveal-modal large">
  <div id="enrichment-form">
    <%= render "enrichment_jobs/form" %>
  </div>

  <div id="enrichment-result"></div>
  
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="change-source-alert" class="reveal-modal medium">
  <h2>Change source</h2>
  <p> Warning: changing the source of this parser does not affect records that have already been harvested.</p>
  <%= simple_form_for @parser do |f| %>
    <%= f.association :source, as: :grouped_select, collection: Partner.all, group_method: :sources, include_blank: false %>
    <%= f.button :submit, "Change source", class: 'right' %>
  <% end %>
  <a class="close-reveal-modal">&#215;</a>
</div>
