<div class='grid-x grid-margin-x'>
  <div class='cell'>
    <% if can? :update, @parser %>
      <h1>
        <%= @parser.name %>
        <span class="parser-tag <%= 'alert' if @parser.data_type == 'concept' %> round label"><%= @parser.data_type %></span>
      </h1>
    <% else %>
      <h1><%= @parser.name %></h1>
    <% end %>
  </div>
</div>

<div class='grid-x grid-margin-x'>
  <div class='medium-9 cell'>
    <% if @version %>
      <%= render 'parser_versions/form' %>
    <% else %>
      <%= render 'form' %>
    <% end %>
  </div>

  <div class='medium-3 cell'>
    <ul class='harvest-commands'>
      <li class='medium-12 cell'>
        <button class='button dropdown medium-12 expanded' data-toggle='harvests-jobs-dropdown'>
          View all jobs from this parser
        </button>

        <div class='dropdown-pane' id='harvests-jobs-dropdown' data-dropdown data-auto-focus='true'>
          <ul class='no-bullet'>
            <% APPLICATION_ENVS.each do |env| %>
              <li>
                <%= link_to(
                      "#{env.capitalize} jobs",
                      environment_abstract_jobs_path(
                        env.downcase,
                        status: 'all',
                        parser_id: @parser.id,
                      ),
                      target: '_blank'
                    ) %>
              </li>
            <% end %>
          </ul>
        </div>
      </li>
      <% if can? :run_harvest, @parser %>
        <% if @version %>
          <li class='medium-12 cell'>
            <button class='button run-enrichment dropdown medium-12 expanded' data-toggle='enrichment-dropdown' <%= @version&.tags.blank? ? 'disabled' : '' %>>
              Run Enrichment
            </button>

            <div class='dropdown-pane' id='enrichment-dropdown' data-dropdown data-auto-focus='true'>
              <ul class='no-bullet'>
                <% APPLICATION_ENVS.each do |env| %>
                  <li>
                    <%= link_to(
                          "#{env.capitalize} Enrichment",
                          new_enrichment_parser_parser_version_path(
                            @harvest_job.parser_id, @harvest_job.version_id, environment: env
                          ),
                          class: 'records-enrichment-modal-button',
                          data: {
                            open: 'enrichment-modal',
                            turbo_frame: 'enrichment_job_form'
                          }
                        ) %>
                  </li>
                <% end %>
              </ul>
            </div>
          </li>
          <li class='medium-12 cell'>
            <button class='button run-harvest dropdown medium-12 expanded' data-toggle='harvest-dropdown' <%= @version&.tags.blank? ? 'disabled' : '' %>>
              Run Harvest
            </button>
            <div class='dropdown-pane' id='harvest-dropdown' data-dropdown data-auto-focus='true'>
              <ul class='no-bullet'>
                <% APPLICATION_ENVS.each do |env| %>
                  <% if @version&.tags&.include?(env) %>
                    <li>
                      <%= link_to("#{env.capitalize} Harvest",
                            new_harvest_parser_parser_version_path(
                            @harvest_job.parser_id,
                            @harvest_job.version_id,
                            environment: env),
                            data: {
                              open: 'harvest-modal',
                              turbo_frame: 'harvest_job_form'
                            }) %>
                    </li>
                  <% end %>
                <% end %>
              </ul>
            </div>
          </li>
        <% end %>
      <% else %>
        <button class='button run-harvest dropdown medium-12 cell expanded disabled'>Run Harvest</button>
      <% end %>
      <% if can? :preview, @parser %>
        <li class='medium-12 cell'>
          <%= link_to 'Preview', previews_path, class: 'button expanded', data: { open: 'preview-modal', controller: 'preview_button' } %>
        </li>
      <% end %>
    </ul>

    <div class='callout secondary text-center' data-alert=''>
      <%= "Current version: #{version_message(@parser, @version)}" %>
    </div>

    <% if can? :run_harvest, @parser %>
      <%= link_to t('parsers.edit_current'), edit_parser_path(@parser), class: 'button production medium-12 cell' %>
    <% end %>

    <%= render partial: 'versions/list', locals: { versionable: @parser, versionable_path: 'parser_parser_version', async_load_path: versions_parser_path(@parser.id) } %>

    <% if can? :run_harvest, @parser %>
      <%= link_to 'Change name or data source', edit_meta_parser_path(@parser), class: 'button expanded' %>

      <div class='allow-flush-button'>
        <%= render 'parsers/allow_flush_button', parser: @parser %>
      </div>

      <%= link_to 'Lint parser (Beta)', lint_parser_path(@parser), class: 'button expanded' %>

      <button class='button alert expanded' data-open='delete-parser-alert'><%= t('parsers.delete') %></button>
    <% end %>
  </div>
</div>

<div id='preview-modal' class='reveal large' data-reveal>
  <%= turbo_frame_tag 'preview-area' %>

  <div id='preview-area-spinner' class='spinner'>
    <%= image_tag image_path('sj-spinner.gif') %>
  </div>

  <button class='close-button' data-close aria-label='Close modal' type='button'>
    <span aria-hidden='true'>&times;</span>
  </button>
</div>

<div id='delete-parser-alert' class='reveal small' data-reveal>
  <%= turbo_frame_tag :delete_parser, src: delete_parser_path(@parser), target: :_top do %>
    <%= image_tag image_path('sj-spinner.gif'), width: 40, height: 40 %>
    <strong>Checking running jobs...</strong>
  <% end %>

  <button class='close-button' data-close aria-label='Close modal' type='button'>
    <span aria-hidden='true'>&times;</span>
  </button>
</div>

<div id='harvest-modal' class='reveal large' data-reveal reset-modal-on-close>
  <%= turbo_frame_tag 'harvest_job_form' do %>
    <div id='preview-area-spinner' class='spinner'>
      <%= image_tag image_path('sj-spinner.gif') %>
    </div>
  <% end %>

  <button class='close-button' data-close aria-label='Close modal' type='button'>
    <span aria-hidden='true'>&times;</span>
  </button>
</div>

<div id='enrichment-modal' class='reveal large' data-reveal reset-modal-on-close>
  <%= turbo_frame_tag 'enrichment_job_form' do %>
    <div id='preview-area-spinner' class='spinner'>
      <%= image_tag image_path('sj-spinner.gif') %>
    </div>
  <% end %>

  <button class='close-button' data-close aria-label='Close modal' type='button'>
    <span aria-hidden='true'>&times;</span>
  </button>
</div>
