

<div class="grid-x grid-margin-x">
  <div class="medium-9 cell">
    <% if can? :update, @parser %>
      <% if @parser.errors.blank? %>
        <h1 id="parser-title" class="float-left">
          <%= link_to @parser.name, edit_parser_path(@parser) %>
          <span class="parser-tag <%= "alert" if @parser.data_type == "concept" %> round label"><%= @parser.data_type %></span>
        </h1>
      <% end %>
      <div id="<%= 'hidden-parser-form' if @parser.errors.empty? %>">
        <%= simple_form_for @parser do |f| %>
          <div class='parser-form'>
            <%= f.input :name %>
            <%= f.button :submit, "Rename Parser" %>
          </div>
        <% end %>
      </div>
    <% else %>
      <h1 id="parser-title" class="float-left"><%= @parser.name %></h1>
    <% end %>
  </div>
  <div class="medium-3 cell">
  </div>
</div>
<div class="grid-x grid-margin-x">
  <div class="medium-9 cell">
    <% if @version %>
      <%= render "parser_versions/form" %>
    <% else %>
      <%= render "form" %>
    <% end %>
  </div>

  <div class="medium-3 cell">

    <ul class="harvest-commands">
      <% if can? :run_harvest, @parser %>
        <% if @version %>
          <li class="medium-12 cell">
            <div class="button run-enrichment dropdown medium-12 expanded" data-toggle='enrichment-dropdown'>
              Run Enrichment
            </div>

            <div class='dropdown-pane' id='enrichment-dropdown' data-dropdown data-auto-focus='true'>
              <ul class='no-bullet'>
                <% if APPLICATION_ENVS.include?('staging') %>
                  <li><%= link_to "Staging Enrichment", new_enrichment_parser_parser_version_path(@harvest_job.parser_id, @harvest_job.version_id), class: "records-enrichment-modal-button", data: { environment: "staging" } %></li>
                <% end %>

                <% if APPLICATION_ENVS.include?('production') %>
                  <li><%= link_to 'Production Enrichment', new_enrichment_parser_parser_version_path(@harvest_job.parser_id, @harvest_job.version_id), class: "records-enrichment-modal-button", data: {environment: "production"} %></li>
                <% end %>
              </ul>
            </div>
          </li>
          <li class="medium-12 cell">
            <div class="button run-harvest dropdown medium-12 expanded" data-toggle='harvest-dropdown'>
              Run Harvest
            </div>
            <div class='dropdown-pane' id='harvest-dropdown' data-dropdown data-auto-focus='true'>
              <ul class='no-bullet'>
                <% if APPLICATION_ENVS.include?('staging') && @version.try(:staging?) %>
                  <li><%= link_to "Staging Harvest", new_harvest_parser_parser_version_path(@harvest_job.parser_id, @harvest_job.version_id), class: "records-harvest-modal-button", data: { environment: 'staging' } %></li>
                <% end %>

                <% if APPLICATION_ENVS.include?('production') && @version.try(:production?) %>
                  <li><%= link_to 'Production Harvest', new_harvest_parser_parser_version_path(@harvest_job.parser_id, @harvest_job.version_id), class: 'records-harvest-modal-button', data: {environment: 'production' } %></li>
                <% end %>

                <li><%= link_to "Test Harvest", new_harvest_parser_parser_version_path(@harvest_job.parser_id, @harvest_job.version_id), class: "records-harvest-modal-button", data: {environment: "test"} %></li>
              </ul>
            </div>
          </li>
        <% end %>
      <% else %>
        <div href="#" class="button run-harvest dropdown medium-12 cell expanded disabled">Run Harvest</div>
      <% end %>
      <% if can? :preview, @parser %>
        <li class="medium-12 cell"><%= link_to "Preview", parser_previewers_path(@parser), class: "button records-preview-button expanded", data: { open: 'preview-modal' } %></li>
      <% end %>
    </ul>


    <div class="callout secondary text-center" data-alert=""><%= 'Current  version: ' + (@version.nil? ?  @parser.versions.last.message : @version.message)  %></div>
    <% if can? :run_harvest, @parser %>
      <%= link_to t("parsers.edit_current"), edit_parser_path(@parser), class: "button production medium-12 cell" %>
    <% end %>

    <%= render partial: "versions/version_list", locals: { versionable: @parser, versionable_path: "parser_parser_version" } %>

    <% if can? :run_harvest, @parser %>
      <button id="rename-parser-action" class="button expanded">Rename Parser</button>
      <button id="change-source-action" data-open="change-source-alert" class="button expanded"><%= t("parsers.change_source") %></button>
      <% if @parser.running_jobs? %>
        <button class="button expanded tip-top has-tip" disabled data-tooltip title="You currently have a job running for this parser. You will need to stop it before being able to delete it."><%= t("parsers.delete") %></button>
      <% else %>
        <button class="button alert expanded" data-open="delete-parser-alert" ><%= t("parsers.delete") %></button>
      <% end %>
      <div class="allow-flush-button">
        <%= render 'parsers/allow_flush_button', parser: @parser %>
      </div>
    <% end %>
  </div>
</div>

<div id="preview-modal" class="reveal large" data-reveal>
  <div id="preview-area" class="CodeRay">
  </div>

  <div id="preview-area-spinner" class="spinner">
    <%= image_tag("sj-spinner.gif") %>
  </div>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div id="delete-parser-alert" class="reveal small" data-reveal>
  <h2>Delete Parser</h2>
  <p> Are you sure that you want to delete the parser: <strong><%= @parser.name %></strong> with version name: <strong><%= @version ? @version.message : @parser.versions.last.message %></strong>?</p>
  <% if @parser.scheduled? %>
    <p> <strong>Warning:</strong> You currently have scheduled jobs set for this parser. By deleting this parser the scheduled jobs will be deleted as well. </p>
  <% end %>
  <div>
    <%= button_to "Delete", @parser, method: :delete, class: "button alert right" %>
    <button data-close class="button secondary right">Cancel</button>
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div id="harvest-modal" class="reveal large" data-reveal>
  <div id="harvest-form">
  </div>

  <div id="harvest-result"></div>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div id="enrichment-modal" class="reveal large" data-reveal>
  <div id="enrichment-form">
  </div>

  <div id="enrichment-result"></div>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div id="change-source-alert" class="reveal medium" data-reveal>
  <h2>Change source</h2>
  <p> Warning: changing the source of this parser does not affect records that have already been harvested.</p>
  <%= simple_form_for @parser do |f| %>
    <%= f.input :partner, selected: @parser.partner.name, collection: Partner.all.sort(name: 1), label_method: :name, value_method: :name %>
    <%= f.association :source, as: :grouped_select, collection: Partner.all, group_method: :sources, include_blank: false, label_method: :name, group_label_method: :name %>
    <%= f.button :submit, "Change source", class: 'right' %>
  <% end %>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
