<div class="row">
  <div class="six columns">
    <h1 class="left"><%= link_to @parser.name, edit_parser_path(@parser) %></h1>
  </div>
  
  <div class="six columns last">
    <%= link_to "Preview", preview_path(@parser.id), class: "button new-right records-preview-button" %>

    <div href="#" class="button new-right run-harvest dropdown">
      Run Harvest
      <ul>
        <% if @version.try(:staging?) %>
          <li><%= link_to "Staging Harvest", "", class: "records-harvest-modal-button", data: {environment: "staging"} %></li>
        <% end %>

        <% if @version.try(:production?) %>
          <li><%= link_to "Production Harvest", "", class: "records-harvest-modal-button", data: {environment: "production"} %></li>
        <% end %>

        <li><%= link_to "Test Harvest", "", class: "records-harvest-modal-button", data: {environment: "test"} %></li>
      </ul>
    </div>

    <div href="#" class="button new-right run-enrichment dropdown">
      Run Enrichment
      <ul>
        <% if @version.try(:staging?) %>
          <li><%= link_to "Staging Enrichment", "", class: "records-enrichment-modal-button", data: {environment: "staging"} %></li>
        <% end %>

        <% if @version.try(:production?) %>
          <li><%= link_to "Production Enrichment", "", class: "records-enrichment-modal-button", data: {environment: "production"} %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="nine columns">
    <% if @version %>
      <%= render "parser_versions/form" %>
    <% else %>
      <%= render "form" %>
    <% end %>
  </div>

  <div class="three columns">
    <h3 class="no-margin-top left"><%= t("parsers.history") %></h3>
    <%= link_to t("parsers.edit_current"), edit_parser_path(@parser), class: "edit-parser" %>
    <div class="tagging">
    <% if @version %>
      <% if @version.production? %>
        <%= link_to "Untag as Production", parser_parser_version_path(@parser, @version, version: {tags: (Array(@version.tags) - ["production"]).uniq}), method: :put, class: "button small production" %>
      <% else %>
        <%= link_to "Tag as Production", parser_parser_version_path(@parser, @version, version: {tags: (Array(@version.tags) + ["production"]).uniq}), method: :put, class: "button small production" %>
      <% end %>

      <% if @version.staging? %>
        <%= link_to "Untag as Staging", parser_parser_version_path(@parser, @version, version: {tags: (Array(@version.tags) - ["staging"]).uniq}), method: :put, class: "button small" %>
      <% else %>
        <%= link_to "Tag as Staging", parser_parser_version_path(@parser, @version, version: {tags: (Array(@version.tags) + ["staging"]).uniq}), method: :put, class: "button small" %>
      <% end %>
    <% end %>
  </div>
    <div id="parser-versions">
      <% @parser.versions.desc(:created_at).each do |version| %>
        <div class="version <%= 'active' if @version.try(:id) == version.id %>">
          <%= link_to version.message || "No message", parser_parser_version_path(@parser, version) %>
          <p><%= l(version.created_at, format: :short) %> by <%= version.user.try(:first_name) %></p>

          <%= environment_tags(version, @parser) %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="preview-modal" class="reveal-modal xxlarge">
  <div id="preview-area" class="CodeRay">
  </div>

  <div id="preview-area-spinner" class="spinner">
    <%= image_tag("spinner.gif") %>
  </div>

  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="harvest-modal" class="reveal-modal large">
  <div id="harvest-form">
    <%= render "harvest_jobs/form" %>
  </div>

  <div id="harvest-result"></div>
  
  <a class="close-reveal-modal">&#215;</a>
</div>

<div id="enrichment-modal" class="reveal-modal large">
  <div id="enrichment-form">
    <%= render "enrichment_jobs/form" %>
  </div>

  <div id="enrichment-result"></div>
  
  <a class="close-reveal-modal">&#215;</a>
</div>