<div class='medium-12 cell'>
  <%= custom_form_with model: @parser, local: true do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :partner, 'Contributor' %>
    <%= f.select :partner, @partners.map(&:name) %>

    <%= f.label :source, 'Data source' %>
    <%= f.grouped_collection_select :source_id, @partners, :sources, :name, :id, :source_id, include_blank: true %>

    <%= f.submit class: 'button float-right' %>
  <% end %>
</div>
