<%= simple_form_for @parser do |f| %>
  <h1 class="left"><%= @parser.name %></h1>
  <%= link_to "Preview Records", records_path(@parser.id), class: "button new-right", id: "records-preview-button" %>
  
  <%= f.input :data, as: :text, label: false %>
  <%= f.input :message %>

  <%= f.button :submit %>
<% end %>


<div id="preview-modal" class="reveal-modal xxlarge">
  <div id="preview-area" class="CodeRay">
  </div>

  <div id="preview-area-spinner">
    <%= image_tag("spinner.gif") %>
  </div>

  <a class="close-reveal-modal">&#215;</a>
</div>