

<h1><%= t('parsers.label') %></h1>
<%= link_to t('parsers.create'), new_parser_path, class: "button new-right #{can_show_button(:create, Parser)}" %>

<table id="parsers" class="twelve">
  <thead>
    <tr>
      <th>Harvest Name</th>
      <th>Data Format</th>
      <th>Partner</th>
      <th>Source ID</th>
      <th>Last Updated</th>
      <th>Last Edited By</th>
      <th>Parser Type</th>
    </tr>
  </thead>

  <tbody>
    <% @parsers.try(:each) do |parser| %>
      <% if can? :update, parser %>
        <tr>
          <td><%= link_to parser.name, edit_parser_path(parser) %></td>
          <td><%= parser.strategy %></td>
          <td><%= link_to parser.source.partner.name, edit_partner_path(parser.source.partner) %></td>
          <td><%= link_to parser.source.name, edit_source_path(parser.source) %></td>
          <td><%= parser.versions.last.try(:created_at).try(:localtime)&.to_formatted_s(:long) %></td>
          <td><%= parser.last_edited_by %></td>
          <td><%= parser.data_type %></td>
        </tr>
      <% else %>
        <tr>
          <td><%= link_to parser.name, parser_path(parser) %></td>
          <td><%= parser.strategy %></td>
          <td><%= parser.source.partner.name %></td>
          <td><%= parser.source.name %></td>
          <td><%= parser.versions.last.try(:created_at).try(:localtime)&.to_formatted_s(:long) %></td>
          <td><%= parser.last_edited_by %></td>
          <td><%= parser.data_type %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
