<div class="medium-12 cell">
  <h2><%= t('parsers.create_a') %></h2>

  <h5 class="subheader">
    <%= t('parsers.new.helptext') %>
  </h5>

  <%= custom_form_with model: @parser, local: true do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>

    <%= f.label :partner %>
    <%= f.select :partner, @partners.map(&:name) %>

    <%= f.label :source %>
    <%= f.grouped_collection_select :source, @partners, :sources, :name, :id, :source_id, {include_blank: true}, {name: 'parser[source_id]'} %>

    <%= f.label :strategy %>
    <%= f.select :strategy, Hash[Parser::VALID_STRATEGIES.map { |u| [(u == 'xml' ? "#{u}/html".upcase : u.upcase), u] }] %>

    <% if parser_type_enabled %>
      <%= f.label :data_type %>
      <%= f.select :data_type, Parser::VALID_DATA_TYPE, include_blank: true %>
    <% end %>

    <%= f.label :parser_template_name %>
    <%= f.select :parser_template_name, ParserTemplate.all.map(&:name), include_blank: true %>

    <%= f.submit class: 'button float-right' %>
  <% end %>
</div>
