<h1>New parser configuration</h1>

<%= simple_form_for @parser do |f| %>

  <%= f.input :name %>
  <%= f.input :strategy, collection: Parser::VALID_STRATEGIES %>
  <%= f.input :parser_template_name, collection: ParserTemplate.all.map(&:name) %>

  <%= f.button :submit %>
  
<% end %>
