<div class="seven columns centered">
  <h2><%= t('parsers.create_a') %></h2>

  <h5 class="subheader">
    <%= t('parsers.new.helptext') %> 
    <%= link_to t('sources.create'), new_source_path %>.
  </h5>

  <%= simple_form_for @parser do |f| %>
    <div class="row">
      <div class="column twelve">
        <%= f.input :name %>
        <%= f.input :strategy, collection: Parser::VALID_STRATEGIES %>
        <%= f.input :parser_template_name, collection: ParserTemplate.all.map(&:name) %>

        <%= f.input :partner, collection: Partner.all.sort(name: 1), label_method: :name, value_method: :name %>
        <%= f.association :source, as: :grouped_select, collection: Partner.all.sort(name: 1), group_method: :sources, label_method: :name, group_label_method: :name %>  
      </div>
    </div>

    <div class="row">
      <div class="column twelve">
        <%= f.button :submit, class: 'right' %>
      </div>
    </div>
    
  <% end %>
</div>