<%#  
The majority of the Supplejack code is Crown copyright (C) 2014, New Zealand Government,
and is licensed under the GNU General Public License, version 3. Some components are 
third party components licensed under the GPL or MIT licenses or otherwise publicly available. 
See https://github.com/DigitalNZ/supplejack_manager for details. 

Supplejack was created by DigitalNZ at the National Library of NZ and the Department of Internal Affairs. 
http://digitalnz.org/supplejack
%>

<div class="seven columns centered">
  <h2><%= t('parsers.create_a') %></h2>

  <h5 class="subheader">
    <%= t('parsers.new.helptext') %> 
  </h5>

  <%= simple_form_for @parser do |f| %>
    <div class="row">
      <div class="column twelve">
        <%= f.input :name %>
        <%= f.input :partner, collection: Partner.all.sort(name: 1), value_method: :name %>
        <%= f.association :source, as: :grouped_select, collection: Partner.all.sort(name: 1), group_method: :sources, label_method: :name %>  
        <%= f.input :strategy, collection: Parser::VALID_STRATEGIES %>
        <%= f.input :parser_template_name, collection: ParserTemplate.all.map(&:name) %>
      </div>
    </div>

    <div class="row">
      <div class="column twelve">
        <%= f.button :submit, class: 'button right' %>
      </div>
    </div>
    
  <% end %>
</div>