<h1>New parser configuration</h1>

<%= simple_form_for @parser do |f| %>

  <%= f.input :name %>
  <%= f.input :strategy, collection: Parser::VALID_STRATEGIES %>
  
  <%= f.input :content, as: :text, label: false, required: false, input_html: {class: "code-editor"} %>

  <%= f.button :submit %>
  
<% end %>
