<%= simple_form_for @shared_module do |f| %>
  <h1 class="left"><%= @shared_module.name %></h1>
  
  <%= f.input :data, as: :text, label: false, input_html: {class: "code-editor"} %>
  <%= f.input :message, require: false, label: t("commit_message") %>

  <%= f.button :submit %>
<% end %>