<h3>Run Harvest</h3>

<%= simple_form_for @harvest_job, remote: true do |f| %>
  <%= f.input :parser_id, as: :hidden %>
  <%= f.input :version_id, as: :hidden %>
  <%= f.input :user_id, as: :hidden %>
  <%= f.input :environment, as: :hidden %>


  <%= f.input :mode, collection: @parser.modes, as: :radio_buttons, checked: @parser.modes.first, label_html: {class: "large"} %>

  <%= f.input :limit, label: t("parsers.records_to_harvest"), label_html: {class: "large"} %>

  <% if @parser.enrichment_definitions.any? %>
    <%= f.input :enrichments, collection: @parser.enrichment_definitions.keys.map {|k| [k.to_s.titleize, k]}, as: :check_boxes, label: t("parsers.enrichments_to_run"), label_html: {class: "large"} %>
  <% end %>

  <br/>

  <%= f.button :submit, "Start Harvest", class: "button columns twelve" %>
<% end %>