<%= content_tag :div, id: "harvest-job", data: { url: harvest_job_path(@harvest_job, format: "js"), active: !@harvest_job.finished? } do %>
  
  <h2 class="left">
    <%= t("harvest_jobs.progress") %>
    <span class="parser-title">: <%= link_to @harvest_job.parser.try(:name), edit_parser_path(@harvest_job.parser) %></span>
  </h2>

  <%= link_to t("harvest_jobs.stop"), environment_harvest_job_path(@harvest_job, {environment: @harvest_job.environment, harvest_job: {status: "stopped"}}), method: :put, remote: true, id: "stop-harvest-button", class: "button new-right", style: ("display: none" unless @harvest_job.status == "active") %>

  <table class="twelve">
    <tr>
      <td><%= t("harvest_jobs.operator") %></td>
      <td>
        <% if @harvest_job.user %>
          <strong><%= @harvest_job.user.try(:name) %></strong>
        <% else %>
          <strong><%= t("harvest_jobs.scheduled") %></strong>
        <% end %>
      </td>
    </tr>

    <tr>
      <td><%= t("harvest_jobs.environment") %></td>
      <td>
        <strong><%= @harvest_job.environment %></strong>
      </td>
    </tr>

    <tr>
      <td><%= t("harvest_jobs.mode") %></td>
      <td>
        <strong><%= @harvest_job.mode.try(:titleize) %></strong>
      </td>
    </tr>

    <tr>
      <td><%= t("harvest_jobs.start_time") %></td>
      <td>
        <% if @harvest_job.start_time %>
          <strong><%= l @harvest_job.start_time, format: :long %></strong>
        <% end %>
      </td>
    </tr>

    <% if ['failed', 'finished'].include?(@harvest_job.status) %>
    <tr id="harvest-end-time">
      <td><%= t("harvest_jobs.end_time") %></td>
      <td>
        <strong><%= l @harvest_job.end_time, format: :long %></strong>
      </td>
    </tr>

    <tr>
      <td><%= t("harvest_jobs.duration") %></td>
      <td>
        <strong><%= ChronicDuration.output(@harvest_job.duration) %></strong>
      </td>
    </tr>

    <tr>
      <td><%= t("harvest_jobs.records_per_second") %></td>
      <td>
        <strong><%= number_with_precision @harvest_job.throughput, precision: 2, delimiter: "," %></strong>
      </td>
    </tr>
    <% end %>

    <tr>
      <td><%= t("harvest_jobs.records_harvested") %></td>
      <td>
        <strong><%= number_with_delimiter @harvest_job.records_count %></strong>
      </td>
    </tr>

    <tr>
      <td><%= t("harvest_jobs.records_posted") %></td>
      <td>
        <strong><%= number_with_delimiter @harvest_job.posted_records_count %></strong>
      </td>
    </tr>
  </table>
  
   <% if @harvest_job.harvest_failure.present? %>
    <h5><%= t('harvest_jobs.harvest_failure')%> </h5>
    <span><%= @harvest_job.harvest_failure.message %></span>
  <% end %>

  <h5><%= t("harvest_jobs.invalid_records") %> <span class="errors-count">(<%= @harvest_job.invalid_records_count.to_i %>)</span></h5>

  <% if @harvest_job.invalid_records.any? %>
  <div id="harvest-job-invalid-errors">
    <div id="accordion">
      <% @harvest_job.invalid_records.each do |record| %>
        <h3 class="error">
          <span><%= record.error_messages.join(", ") %></span><span class="right"><%= record.created_at.try(:to_datetime) %></span>
        </h3>
        <div>
          <%= pretty_format(@harvest_job.parser_id, record.raw_data) %>
        </div>
      <% end %>
    </div>
  </div>
  <% else %>
  <p><%= t("harvest_jobs.no_validation_errors") %></p>
  <% end %>

  <h5><%= t("harvest_jobs.failed_records") %> <span class="errors-count">(<%= @harvest_job.failed_records_count.to_i %>)</span></h5>

  <% if @harvest_job.failed_records.any? %>
  <div id="harvest-job-failed-errors">
    <div id="accordion">
      <% @harvest_job.failed_records.each do |record| %>
        <h3 class="error">
          <span><%= record.message %></span><span class="right"><%= record.created_at.try(:to_datetime) %></span>
        </h3>
        <div>
          <%= pretty_format(@harvest_job.parser_id, record.raw_data) %>
        </div>
      <% end %>
    </div>
  </div>
  <% else %>
  <p><%= t("harvest_jobs.no_failure_errors") %></p>
  <% end %>

<% end %>