<%#  
The majority of the Supplejack code is Crown copyright (C) 2014, New Zealand Government,
and is licensed under the GNU General Public License, version 3. Some components are 
third party components licensed under the GPL or MIT licenses or otherwise publicly available. 
See https://github.com/DigitalNZ/supplejack_manager for details. 

Supplejack was created by DigitalNZ at the National Library of NZ and the Department of Internal Affairs. 
http://digitalnz.org/supplejack
%>

$('#preview-<%= @preview.id %> #status').html("<%= escape_javascript(@preview.status) %>");

<% if @preview.raw_data.present? and @preview.harvested_attributes.present? %>
	$('#preview-<%= @preview.id %> #record-raw-data').html('<%= escape_javascript(@preview.raw_output) %>');
	$('#preview-<%= @preview.id %> #harvest-attributes').html('<%= escape_javascript(@preview.harvested_attributes_output) %>');
	$('#preview-<%= @preview.id %> a[href="#sourceData"] .small-spinner, a[href="#harvestedAttributes"] .small-spinner').hide();
<% end %>

<% if @preview.api_record.present? %>
	$('#preview-<%= @preview.id %> #apiRecordTab').html('<%= escape_javascript(@preview.api_record_output) %>');
	$('#preview-<%= @preview.id %> a[href="#apiRecord"] .small-spinner').hide();
<% end %>

<% if @preview.field_errors? %>
	$('#preview-<%= @preview.id %> #status').html("Field Errors");
	$('#preview-<%= @preview.id %> #field-errors p').html("<%= escape_javascript(@preview.field_errors_output) %>");
	$('#preview-<%= @preview.id %> #field-errors').show();
<% end %>

<% if @preview.deletable? %>
	$('#preview-<%= @preview.id %> #record-to-delete').show();
<% end %>

<%if @preview.validation_errors? %>
	$('#preview-<%= @preview.id %> #status').html("Validation Errors");

	<% @preview.validation_errors_output.each do |error| %>
		<% error.each do |attribute, message| %>
			$('#preview-<%= @preview.id %> #validation-errors ul').append("<li><strong><%= attribute %>: </strong><%= message %></li>");
		<% end%>
	<% end %>
	
	$('#preview-<%= @preview.id %> #validation-errors').show();
<% end %>

<% if @preview.harvest_job_errors.present? %>
	$('#preview-<%= @preview.id %> #status').html("Harvest failed")
	$('#preview-<%= @preview.id %> #harvest-errors').html("")
	<% @preview.harvest_job_errors_output.each do |message| %>
		$('#preview-<%= @preview.id %> #harvest-errors').append("<p><strong><%= escape_javascript(message) %><strong></p>");
	<% end %>
	$('#preview-<%= @preview.id %> #harvest-errors').show();
<% end %>

<% if @preview.harvest_failure? %>
  $('#preview-<%= @preview.id %> #status').html("Harvest Failed");
	$('#preview-<%= @preview.id %> #harvest-failure h6').html("<%= escape_javascript(@preview.harvest_failure_output['exception_class']) %>");
	$('#preview-<%= @preview.id %> #harvest-failure p').html("<%= escape_javascript(@preview.harvest_failure_output['message']) %>");
  
  <% @preview.harvest_failure_output['backtrace'].each do |backtrace| %>
    $('#preview-<%= @preview.id %> #harvest-failure ul').append("<li><%= escape_javascript(backtrace) %></li>");
  <% end %>
<% end %>

<% unless @preview.errors? or @preview.api_record.present? or @preview.finished? %>
	PreviewJobsPoller.poll();
<% else %>
	$('#preview-<%= @preview.id %> a[href="#sourceData"] .small-spinner, a[href="#harvestedAttributes"] .small-spinner, a[href="#apiRecord"] .small-spinner').hide();
<% end %>

<% if @preview.finished? and not @preview.raw_data.present? %>
	$('h4.not-found').show();
<% end %>
