<% if can? :run_harvest, @parser %>
  <% if @version %>
    <% APPLICATION_ENVS.each do |environment| %>
      <% if @version.tags&.include?(environment) %>
        <%= button_to(
          "Untag as #{environment.capitalize}",
          send(:"#{versionable_path}_path",
          versionable,
          @version,
          version: { tags: (Array(@version.tags) - [environment]).uniq }),
          method: :put,
          class: "button medium-12 cell #{environment}"
        ) %>
      <% else %>
        <%= button_to(
          "Tag as #{environment.capitalize}",
          send(:"#{versionable_path}_path",
          versionable,
          @version,
          version: { tags: (Array(@version.tags) + [environment]).uniq }),
          method: :put,
          class: "button medium-12 cell #{environment}"
        ) %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<div id='versions' class='versions'>
  <span class='parser-tag label secondary'><%= "#{versionable.versions.count} versions" %></span>

  <% versionable.versions.limit(10).desc(:created_at).each_with_index do |version, index| %>
    <div class="version <%= 'active' if @version.try(:id) == version.id %>">
      <%= link_to version.message || 'No message',  send(:"#{versionable_path}_path", versionable, version) %>
      <p><%= localize_date_time(version.created_at) %> by <%= version.user.try(:first_name) %></p>
      <%= environment_tags(version, versionable) %>
    </div>
  <% end %>

  <%= turbo_frame_tag :more_versions, src: async_load_path do %>
    <%= image_tag image_path('sj-spinner.gif', width: 40, height: 40) %>
    <strong>Loading more versions..</strong>
  <% end %>

  <% if versionable.versions.count > 10 %>
    <button class='button show_more secondary expanded'>Click to show all versions</button>
  <% end %>
</div>
