<div class='button-group expanded'>
  <% if can? :run_harvest, @parser %>
    <% if @version %>
      <% if APPLICATION_ENVS.include?('production') %>
        <% if @version.production? %>
          <%= link_to 'Untag as Production', send(:"#{versionable_path}_path", versionable, @version, version: { tags: (Array(@version.tags) - ['production']).uniq} ), method: :put, class: 'button production' %>
        <% else %>
          <%= link_to 'Tag as Production', send(:"#{versionable_path}_path", versionable, @version, version: { tags: (Array(@version.tags) + ['production']).uniq } ), method: :put, class: 'button production' %>
        <% end %>
      <% end %>

      <% if APPLICATION_ENVS.include?('staging') %>
        <% if @version.staging? %>
          <%= link_to 'Untag as Staging', send(:"#{versionable_path}_path", versionable, @version, version: {tags: (Array(@version.tags) - ['staging']).uniq}), method: :put, class: 'button staging' %>
        <% else %>
          <%= link_to 'Tag as Staging', send(:"#{versionable_path}_path", versionable, @version, version: {tags: (Array(@version.tags) + ['staging']).uniq}), method: :put, class: 'button staging' %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div id='versions' class='versions'>
  <% versionable.versions.limit(10).desc(:created_at).each_with_index do |version, index| %>
    <div class="version <%= 'active' if @version.try(:id) == version.id %>">
      <%= link_to version.message || 'No message',  send(:"#{versionable_path}_path", versionable, version) %>
      <p><%= localize_date_time(version.created_at) %> by <%= version.user.try(:first_name) %></p>
      <%= environment_tags(version, versionable) %>
    </div>
  <% end %>

 <%= render_async async_load_path do %>
  <strong>Loading more versions..</strong>
 <% end %>

  <% if versionable.versions.count > 10 %>
    <button class='button show_more secondary expanded'>Click to show all versions</button>
  <% end %>
</div>
