<%#
The majority of The Supplejack Manager code is Crown copyright (C) 2014, New Zealand Government,
and is licensed under the GNU General Public License, version 3. Some components are
third party components that are licensed under the MIT license or otherwise publicly available.
See https://github.com/DigitalNZ/supplejack_manager for details.

Supplejack was created by DigitalNZ at the National Library of NZ and the Department of Internal Affairs.
http://digitalnz.org/supplejack
%>

<div class="twelve columns centered">
  <div class="devise-block">
    <div class="four columns centered">
      <div class="four columns centered">
        <%= image_tag('Supplejack-icon-190.png') %>
      </div>
      <h3 class="text-center">Sign In</h3>
      <%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-vertical user-signin-form' }) do |f| %>
        <%= f.input :email, :autofocus => true %>
        <%= f.input :password %>
        <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
        <%= f.button :submit, "Sign in", :class => 'btn-primary' %>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
