<h1 class="left">Link Check Rules - <%= params[:environment].capitalize %></h1>
<%= link_to 'New link check rule', new_environment_link_check_rule_path(environment: params[:environment]), class: "button new-right #{can_show_button(:create, LinkCheckRule)}" %>

<table id="link_check_rules">
  <thead>
    <tr>
      <th>Partner</th>
      <th>Source ID</th>
      <th>Active?</th>
      <th>Updated At</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @link_check_rules.each do |link_check_rule| %>
    <tr>
      <td><%= link_check_rule.source.try(:partner_name) %></td>
      <td>
        <% if link_check_rule.source && can?(:update, link_check_rule.source) %>
          <%= link_to link_check_rule.source.try(:source_id), edit_source_path(link_check_rule.source) %>
        <% else %>
          <%= link_check_rule.source.try(:source_id) %>
        <% end %>
      </td>
      <td><%= link_check_rule.active %></td>
      <td><%= DateTime.parse(link_check_rule.updated_at).to_formatted_s(:long) %></td>
      <td>
        <% if can? :update, link_check_rule %>
          <%= link_to 'Edit', edit_environment_link_check_rule_path(id: link_check_rule.id, environment: params[:environment]) %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
