<h1 class="left">Collection Rules (<%= params[:environment]%>) </h1>
<%= link_to "New collection rule", new_environment_collection_rule_path(environment: params[:environment]), class: "button new-right" %>

<table id="collection_rules" class="twelve">
  <thead>
    <tr>
      <th>Partner</th>
      <th>Source Name</th>
      <th>Source ID</th>
      <th>Active?</th>
      <th>Updated At</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @collection_rules.each do |collection_rule| %>
    <tr>
      <td><%= collection_rule.source.try(:partner_name) %></td>
      <td><%= link_to collection_rule.source.try(:name), edit_source_path(collection_rule.source) %></td>
      <td><%= collection_rule.source.try(:source_id) %></td>
      <td><%= collection_rule.active %></td>
      <td><%= collection_rule.updated_at %></td>
      <td><%= link_to "Edit", edit_environment_collection_rule_path(id: collection_rule.id, environment: params[:environment]) %></td>
    </tr>
    <% end %>
  </tbody>
</table>