<h1><%= params[:status].capitalize %> Jobs - <%= params[:environment].capitalize %></h1>

<% ['active', 'finished', 'failed', 'stopped'].each do |status| %>
  <% if params[:status] == status %>
    <%= link_to(t("harvest_jobs.#{status}"), environment_abstract_jobs_path(params[:environment], status: status, parser: params[:parser]), class: 'button primary') %>
  <% else %>
    <%= link_to(t("harvest_jobs.#{status}"), environment_abstract_jobs_path(params[:environment], status: status, parser: params[:parser]), class: 'button hollow') %>
  <% end %>
<% end %>

<div class='table-scroll'>
  <table>
    <thead>
      <tr>
        <th><%= t("abstract_jons.type") %></th>
        <th><%= t("harvest_jobs.parser") %></th>
        <th><%= t("harvest_jobs.mode") %></th>
        <th><%= t("harvest_jobs.enrichment") %></th>
        <th><%= t("harvest_jobs.operator") %></th>
        <th><%= t("harvest_jobs.start_time") %></th>
        <% if params[:status] == "finished" %>
          <th><%= t("harvest_jobs.duration") %></th>
        <% end %>

        <th><%= t("harvest_jobs.records_harvested") %></th>
        <th><%= t("harvest_jobs.validation_failure_errors") %></th>

        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @abstract_jobs.each do |abstract_job| %>
      <tr>
        <td><%= t("abstract_jobs.#{abstract_job._type.downcase}") %></td>
        <% if abstract_job.version_id.present? %>
          <td><%= link_to abstract_job.parser_name, parser_parser_version_path(abstract_job.parser_id, abstract_job.version_id) %></td>
        <% else %>
          <td><%= link_to abstract_job.parser_name, edit_parser_path(abstract_job.parser) rescue '' %></td>
        <% end %>
        <td><%= abstract_job.mode.try(:titleize) if abstract_job._type == "HarvestJob" %></td>
        <td><%= enrichments(abstract_job) %></td>
        <% if abstract_job.user %>
          <td><%= abstract_job.user.try(:name) %></td>
        <% else %>
          <td><%= t("harvest_jobs.scheduled") %></td>
        <% end %>
        <td><%= l abstract_job.try(:start_time), format: :long rescue nil %></td>

        <% if params[:status] == "finished" %>
          <td><%= human_duration(abstract_job.duration) %></td>
        <% end %>

        <td><%= abstract_job.records_count %></td>

        <% if ((abstract_job.invalid_records_count.present? && abstract_job.invalid_records_count > 0) || (abstract_job.failed_records_count.present? && abstract_job.failed_records_count > 0)) %>
          <td><span class='errors-count'><strong><%= abstract_job.invalid_records_count %>/<%= abstract_job.failed_records_count %></strong></span></td>
        <% else %>
          <td><%= abstract_job.invalid_records_count %>/<%= abstract_job.failed_records_count %></td>
        <% end %>

        <td>
          <% if abstract_job._type == "HarvestJob" %>
            <%= link_to t("harvest_jobs.view_details"), environment_harvest_job_path(abstract_job.environment, id: abstract_job.id) %>
          <% elsif abstract_job._type == "EnrichmentJob" %>
            <%= link_to t("harvest_jobs.view_details"), environment_enrichment_job_path(abstract_job.environment, id: abstract_job.id) %>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @abstract_jobs %>
