<%= content_for :title do %>
  <%= @parser_template.name %>
<% end %>

<div class="grid-x">
  <div class="medium-5 cell">

    <h1 id="resource-title" data-toggler=".hide"><%= @parser_template.name %></h1>

    <%= custom_form_with model: @parser_template, class: 'hide', id: 'rename-form', data: { toggler: '.hide' } do |f| %>
      <%= f.label :name, 'Harvest Template Name' %>
      <%= f.text_field_submit :name, class: 'input-group-field', submit_text: 'Rename' %>
    <% end %>

  </div>

  <div class="medium-3 medium-offset-4 cell new-actions">
    <button class="button float-right medium-12" data-toggle='rename-form resource-title'>
      <%= t('parser_templates.rename') %>
    </button>
    <button class="button float-right medium-12" data-open="delete-parser-template-alert"><%= t('parser_templates.delete') %></button>
  </div>
</div>

<div id="delete-parser-template-alert" class="reveal small" data-reveal>
  <h2>Delete Parser Template</h2>
  <p> Are you sure that you want to delete the parser template: <strong><%= @parser_template.name %></strong> </p>
  <div>
    <%= button_to 'Delete', @parser_template, method: :delete, class: 'button alert float-right' %>
    <button id="cancel-parser-template-delete" data-close class="button secondary float-right">Cancel</button>
  </div>

  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<%= custom_form_with model: @parser_template do |f| %>
  <%= f.text_area :content, class: 'code-editor' %>
  <%= f.submit class: 'button' %>
<% end %>
