

<h1 class="left"><%= t('parser_templates.label') %></h1>
<%= link_to t('parser_templates.create'), new_parser_template_path, class: "button new-right #{can_show_button(:create, Parser)}" %>

<table class="twelve" id="parser-templates">
  <thead>
    <tr>
      <th><%= t('name') %></th>
    </tr>
  </thead>

  <tbody>
    <% @parser_templates.each do |parser_template| %>
    <tr>
      <% if can? :update, parser_template %>
        <td><%= link_to parser_template.name, edit_parser_template_path(parser_template) %></td>
      <% else %>
        <td><%= link_to parser_template.name, parser_template_path(parser_template) %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>