<h2 class="left"><%= t('parser_templates.create_a') %></h2>

<%= simple_form_for @parser_template do |f| %>
  <div class="row">
    <div class="twelve columns">
      <%= f.input :name %>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <%= f.input :content, as: :text, label: false, required: false, input_html: {class: "code-editor"} %>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <%= f.button :submit, class: 'right' %>
    </div>
  </div>

<% end %>