<h2><%= t('parser_templates.create_a') %></h2>

<h5 class="subheader">
  <%= t('parser_templates.helptext') %>
</h5>

<%= form_with model: @parser_template do |f| %>
  <%= f.label :name, 'Parser Template Name' %>
  <%= f.text_field :name, label: t('parser_templates.name')%>

  <%= f.text_area :content, class: "code-editor" %>

  <%= f.submit 'Create Parser Template', class: 'button float-right' %>
<% end %>
