<h2>Collection Statistics for: <%= @day.to_date.to_formatted_s(:long) %></h2>

<div class="twelve">
	<% unless @collection_statistics.any? %>
		<h4>No activations, suppressions or deletions</h4>
	<% end %>

	<% @collection_statistics.each do |collection| %>

		<h4><%= collection.collection_title %></h4>
	  <% if collection.activated_records.present? %>
  		<div class="status-section left four">
		    <h5>Activations (<%= collection.activated_records.size %>)</h5>
		    <ul class="no-list-style">
			    <% collection.activated_records.each do |record| %>
			     <li><%= "#{record.record_id}: #{record.url}" %></li>
			    <% end %>
		    </ul>
		  </div>
	  <% end %>
	  <% if collection.suppressed_records.present? %>
		  <div class="status-section left four">
		    <h5>Suppressions (<%= collection.suppressed_records.size %>)</h5>
		    <ul class="no-list-style">
			    <% collection.suppressed_records.each do |record| %>
			     <li><%= "#{record.record_id}: #{record.url}" %></li>
			    <% end %>
		    </ul>
		  </div>
	  <% end %>
	  <% if collection.deleted_records.present? %>
		  <div class="status-section left four">
		    <h5>Deletions (<%= collection.deleted_records.size %>)</h5>
		    <ul class="no-list-style">
			    <% collection.deleted_records.each do |record| %>
			     <li><%= "#{record.record_id}: #{record.url}" %></li>
			    <% end %>
		    </ul>
		  </div>
	  <% end %>
	<% end %>
</div>