<%= content_for :title do %>
  Edit user
<% end %>

<h1>Edit user (<%= @user['id'] %>)</h1>

<%= form_for :user,
             url: environment_admin_user_path(environment: params[:environment],
             id: @user['id']),
             method: :patch,
             html: { id: "edit-user-form-#{@user['id']}" } do |f| %>
  <label>
    Max requests
    <input type='text' name='max_requests' autofocus autocomplete="off" value="<%= @user['max_requests'] %>">
  </label>
  <%= f.submit class: 'button' %>
<% end %>
