<div class="row">
  <div class="eight columns">
    <h1 id="collection-rule-title" class="left"><%= @collection_rule.collection_title %></h1>
    <%= simple_form_for @collection_rule do |f| %>
        <%= f.input :collection_title %>
        <%= f.input :xpath %>
        <%= f.input :status_codes %>

        <%= f.button :submit %>
    <% end %>
  </div>
</div>