<h1>New Collection Rule</h1>

<%= simple_form_for @collection_rule, :url => collection_rules_path do |f| %>

  <%= f.input :collection_title %>
  <%= f.input :xpath %>
  <%= f.input :status_codes %>

  <%= f.button :submit %>
  
<% end %>