<%#
The majority of The Supplejack Manager code is Crown copyright (C) 2014, New Zealand Government,
and is licensed under the GNU General Public License, version 3. Some components are
third party components that are licensed under the MIT license or otherwise publicly available.
See https://github.com/DigitalNZ/supplejack_manager for details.

Supplejack was created by DigitalNZ at the National Library of NZ and the Department of Internal Affairs.
http://digitalnz.org/supplejack
%>

<div class='nav-wrapper'>
  <div class='grid-container'>
    <nav class="top-bar">
      <ul class='dropdown menu' data-dropdown-menu>
        <li class="name">
          <%= link_to image_tag('Supplejack360pxgreenwhite.png'), root_path, class: 'supplejack-logo', alt: 'Supplejack' %>
        </li>
        <% if user_signed_in? %>
          <li class="has-submenu">
            <%= link_to t('navigation.contributors'), "#" %>
            <ul class="submenu menu vertical">
              <%= link_to_tab t('partners.label'), partners_path %>
              <%= link_to_tab t('sources.label'), sources_path %>
              <%= link_to_tab t('parsers.label'), parsers_path %>
              <%= link_to_tab t('parser_templates.label'), parser_templates_path %>
              <%= link_to_tab t('snippets.label'), snippets_path %>
            </ul>
          </li>

          <% APPLICATION_ENVS.each do |environment| %>
          <li class="has-submenu">
            <%= link_to t("navigation.#{environment}"), "#" %>

            <ul class="dropdown menu" data-dropdown-menu>
              <%= link_to_tab t('jobs.scheduled'), environment_harvest_schedules_path(environment) %>
              <%= link_to_tab t('jobs.active'), environment_abstract_jobs_path(environment, status: "active") %>
              <%= link_to_tab t('jobs.finished'), environment_abstract_jobs_path(environment, status: "finished") %>
              <%= link_to_tab t('jobs.failed'), environment_abstract_jobs_path(environment, status: "failed") %>
              <%= link_to_tab t('jobs.stopped'), environment_abstract_jobs_path(environment, status: "stopped") %>
              <%= link_to_tab t('link_checker.link_check_rules.label'), environment_link_check_rules_path(environment) %>
              <%= link_to_tab t('statistics.label'), environment_collection_statistics_path(environment) %>
              <%= link_to_tab t('link_checker.suppress_collections.label'), environment_suppress_collections_path(environment) %>
              <% if can? :read, :collection_record %>
              <%= link_to_tab t('records.label'), environment_collection_records_path(environment) %>
              <% end %>
            </ul>
          </li>
          <% end %>
        <% end %>
      </ul>

      <ul class="float-right dropdown menu" data-dropdown-menu>
        <% if user_signed_in? %>
        <li class="name has-submenu">
          <%= link_to "Hi, #{current_user.name}", "#" %>

          <ul class="dropdown menu" data-dropdown-menu>
            <% if can? :edit_users, current_user %>
            <%= link_to_tab t('users.all_users'), users_path %>
            <% end %>
            <%= link_to_tab t('users.edit_profile'), edit_user_path(current_user) %>
            <li><%= link_to t('logout'), destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
        <% else %>
        <li><%= link_to t('login'), new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</div>
