<!DOCTYPE html>
<html class='no-js'>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Harvester Manager" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Harvester Manager" %>">
    <%= csp_meta_tag %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: :all, "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.13.1/themes/smoothness/jquery-ui.min.css', "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= action_cable_meta_tag %>

    <%= yield(:head) %>

    <%= favicon_link_tag asset_path('favicon-32x32.png'), rel: 'icon', type: 'image/png' %>
    <%= favicon_link_tag asset_path('favicon-16x16.png'), rel: 'icon', type: 'image/png' %>
    <%= favicon_link_tag asset_path('apple-touch-icon.png'), rel: 'apple-touch-icon', type: 'image/png', sizes: '144x144' %>
    <%= favicon_link_tag asset_path('safari-pinned-tab.svg'), rel: 'mask-icon', color: "#118a0f" %>

    <meta name="theme-color" content="#118a0f">
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <%= content_for :render_async %>
    <%= render 'layouts/navigation' %>

    <header>
      <%= render 'layouts/messages' %>
    </header>

    <div id="main" role="main" class="grid-container page-content">
      <%= yield %>
    </div>
    <div id="turbo-transition" class="reveal-overlay">
    </div>
  </body>
</html>
