<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Harvester Manager" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Harvester Manager" %>">
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <div class="contain-to-grid">
      <%= render 'layouts/navigation' %>
    </div>

    <header>
      <%= render 'layouts/messages' %>
    </header>

    <div id="main" role="main" class="row">
      <div class="twelve columns">
        <%= yield %>
      </div>
    </div>

    <footer></footer>
  </body>
</html>
